[2017-02-28 05:46] pzuraq opened #1 "Get vertical-collection ready for v1.0.0"
Here's the shortlist of the things we need for this to be ready for v1.0.0:

- [x] accessibility
  - [x] renderEverything switch
  - [ ] ensure focus updates correctly on scroll
- [ ] Documentation
  - [ ] More examples in general
  - [ ] Better coverage of the API docs
  - [ ] Table quirks (@runspired will also blog about this)
- [x] Rollup -private (@runspired thinks this should yield ~50% reduc

[2017-03-29 22:50] srowhani opened #24 "Removing items will throw an error"
Removing items will throw an `index out of bounds` assertion error.

Threw together a branch illustrating this effect

 https://github.com/srowhani/vertical-collection/tree/bug/remove-items

[code]

[2017-04-04 09:32] luxferresum opened #26 "breaks on `{{#if}}` direct inside `{{#vertical-collection}}`"
This template:

    <section>
      {{#vertical-collection data
        minHeight=10
        containerSelector="body"
        alwaysRemeasure=true
        as |item|
      }}
        <section>
          Item {{item.id}}
        </section>
        {{#if item.detail}}
          <section>
            Detail
          </section>
        {{/if}}
      {{/vertical-collection}}
    </section>

with this d

[2017-04-04 13:28] scottmessinger commented on #26
I ran into the same error when I had an `each` as the only thing in the `vertical-collection` block. Given I was having the same error as using an `if`, I figured it might be because there's a tagless component so I wrapped the each in a `div` and things worked. Any ideas on how to fix it? Or where to look to patch it?

[2017-04-04 18:06] pzuraq commented on #26
This is related to #24, it has to do with the way we are moving DOM around to avoid thrashing Glimmer. We may be able to avoid these issues if we remove the `.virtual-component-renderer` div and just render the VCs directly to the main component element, but that could also cause more issues - we'll have to play around with it.

It may be a hard requirement to have a stable root element in place,

[2017-04-04 19:50] luxferresum commented on #26
Should we treat this as a documentation issue then for now?

[2017-04-05 01:43] pzuraq commented on #26
I'm going to try to solve it for beta 2 next week, but if that doesn't work then yes we should.

[2017-04-05 02:01] runspired commented on #26
@pzuraq with the virtual bounds this should not be an issue. We may have implemented the bounds moving logic incorrectly.

[2017-04-05 02:42] pzuraq commented on #26
Yeah, that's what I'm thinking. I think we need to go back to the original design you implemented, where the virtual bounds were used for the VC `each` instead of a div container, that's what's tripping Glimmer up. I'll be able to take a look at it first thing next week.

[2017-04-10 16:35] #26 closed

[2017-04-11 18:31] pzuraq opened #31 "Noticeable lag between rendering and actions being sent"
ping @antidis

[See previous conversation on this commit](https://github.com/html-next/vertical-collection/commit/4290749605cda2631eaa6e1450e5d56a5aef5718)

It seems that using `run.next` to schedule actions causes the actions to lag a little bit before being sent. The lag is noticeable, @antidis I'm assuming that scrolling are the pattern between 3400ms and 4200ms and the actions are sent at 4800

[2017-04-11 18:50] antidis commented on #31
To be specific:

* Scrolling to the end of the currently-loaded content takes place first.
* I hit the end and nothing seems to happen. I can scroll back up fine—the browser has not locked.
* Loading kicks in a short time later (the loading function in this case is just a task that throws a few hashes into the `rows` array, then notifies Ember of the change).

It's hard to get the timings precise

[2017-04-11 19:03] pzuraq commented on #31
Interesting. Yeah, it's weird that the browser is spending so much time doing nothing, `run.next` should just schedule a new runloop in a `setTimeout` which would generally run in between scrolls/RAFs. Not sure why it's being pushed out that much, but that's definitely way too much of a delay. @runspired and insights on this?

@antidis could you possibly paste the template usage and the actions th

[2017-04-11 19:23] pzuraq opened #33 "Tests fail sporadically"
Tests are failing fairly regularly on Travis. I have a feeling it's a subtle issue we're not capturing, but it's hard to say.

Add logs for failures to this issue.

[2017-04-11 19:28] pzuraq commented on #26
@scottmessinger @luxferresum I should be getting `beta.2` out this week or early next with this patch in! Let me know if the issue is fixed on your end, I think this should be solid

[2017-04-11 19:31] luxferresum commented on #26
I can confirm that it's now working on master.
For now this is a "works on my machine", but I will push it to testing as soon beta.2 is out.

[2017-04-12 08:25] antidis commented on #31
Working on the twiddle this morning. Will post then.

[2017-04-12 10:16] antidis commented on #31
Here's a stripped-down and sanitised version of the addon we're hoping to include `vertical-collection` in:

https://github.com/antidis/vertical-collection-bug-demo

The problem still occurs, and occurs reliably. Interestingly, **this problem does not occur in Firefox.** A colleague suggested that this may indicate an RSVP bug.

[2017-04-12 10:18] antidis commented on #31
The problem also does not occur in Safari. This may be hitting a Chrome bug.

[2017-04-12 19:01] pzuraq commented on #31
Weird, I'm not able to reproduce locally:

![apr-12-2017 11-59-15](https://cloud.githubusercontent.com/assets/685518/24974578/7fdca6e6-1f77-11e7-9567-28a5b4f390e7.gif)

There isn't really a noticeable gap between when the RAF ends and the scroll event fires. If the loading event were a longer running async task then there could be lag, definitely, but that's not really something we can control.

M

[2017-04-12 19:41] antidis commented on #31
I sure hope not.

This is on a mid 2015 Retina MBP. Chrome version: 57.0.2987.133 (64-bit). Happens in HiDPI and non-HiDPI resolutions too. We have other test hardware available, but so far we've only tested it on (likely 2015) MBPs.

What hardware are you running? If we find out, we can hopefully track it down.

[2017-04-12 20:05] pzuraq commented on #31
I'm running El Capitan on a 2013 rMBP, Chrome Version 57.0.2987.133 (64-bit)

Any chance you could take a video of it in action? I'll try to reproduce locally but I can't really help until I do 😅

[2017-04-12 20:32] antidis commented on #31
![scrolling-problem](https://cloud.githubusercontent.com/assets/11009/24978167/976b154a-1fc7-11e7-9404-77115598eb99.gif)

[2017-04-12 20:47] pzuraq commented on #31
Ok yeah, super noticeable and nothing like what's happening on my machine. WEIRD.

Definitely a priority to get this fixed before 1.0.0, even if it's not an issue in this library directly.

[2017-04-12 21:22] pzuraq commented on #31
@antidis could you possibly send a couple of timeline screenshots with these sections zoomed in?

<img width="1323" alt="aaba8000-1eea-11e7-998b-542c6650df99_copy" src="https://cloud.githubusercontent.com/assets/685518/24980011/4191f1d4-1f8b-11e7-83c3-53c4f061e045.png">

Would help to get a better look at what's going on at those points in time. Also, I'm up for remote debugging via Screenhero or

[2017-04-12 21:41] GavinJoyce commented on #31
I can reproduce this issue on my machine in both `Chrome 57.0.2987.133 (64-bit)` and `Chrome  59.0.3069.0 canary (64-bit)` with no addons on `MacBook Pro (Retina, 13-inch, Early 2015)` running `OSX 10.12.4 (16E195)`

[2017-04-12 21:43] antidis commented on #31
I'll try do something like that tomorrow. I suspect you're on SF time, and I'm in Dublin, so it may be tricky to arrange remote debugging. @gavinjoyce maybe we can pair on this tomorrow afternoon?

[2017-04-12 21:53] pzuraq opened #34 "Doesn't work in zoomed containers"
`vertical-collection` will blow up if we try to use an arbitrarily sized container (e.g. in tests). We need some way to account for this both using `transforms` (standard Ember testing container) and `zoom` ideally. Users should be able to drop `vertical-collection` into their app and expect tests to work without having to modify the test container's styles.

[2017-04-12 22:05] runspired commented on #31
Chrome aggressively throttles and can sometimes even drop `setTimeout` calls during scroll.  This seems overly aggressively throttled though.

As I think about this, we may *have* to move to `afterRender` scheduling for the microtask semantics to avoid this.

One thing to note, with scroll, it is never guaranteed that you'll be given the chance to respond in a reasonable amount of time.  Bot uniqu

[2017-04-12 22:08] runspired commented on #34
@pzuraq the fix is to tell people to fix their test containers. Both ember and qunit removed the use of zoom for this reason. Transforms should still work correctly.

[2017-04-12 22:24] pzuraq commented on #31
Makes sense, we can move the scheduling to `afterRender` and add a note in the Perf section in the docs (which needs to be added). As long as actions are short and simple, or schedule things asynchronously themselves, it should be fine.

[2017-04-13 00:41] pzuraq opened #35 "Components not rendering"
@erkarl is experiencing an issue where components seem to not render correctly at all:

![image](https://cloud.githubusercontent.com/assets/685518/24985102/e2190c94-1fa6-11e7-986a-5a01511f3a66.png)

The associated code is:

[code]

The project is [open source](https://github.com/erkarl/fronthat/pull/18) so we can debug directly.

[2017-04-13 17:13] evoactivity opened #37 "padding on the container and renderFromLast"
So my scroll container has padding on it, and I want to load scrolled to the bottom so I've set `renderFromLast` to true, this seems to work except the scroll position doesn't seem to take into account the container top and bottom padding.

I can work around this in my app with different css but I wonder if this should be handled by the library?

[2017-04-13 18:13] pzuraq commented on #37
Hmm, that's a tricky one. Users can technically put any number of things before or after the `vertical-collection` component, like headers, footers, or other things. Theoretically it's supposed to be a drop-in replacement for `each`, so you should be able to use it like an each and expect it to flow with the rest of the document correctly. So I'm not sure what the more intuitive behavior would be

[2017-04-13 19:20] pzuraq commented on #33
[log-b34fd15-ember-default.txt](https://github.com/html-next/vertical-collection/files/920632/log-b34fd15-ember-default.txt)

[2017-04-13 22:40] #31 closed

[2017-04-13 22:41] pzuraq commented on #31
Merged the change, let me know if you're still having issues @antidis @GavinJoyce!

[2017-04-14 06:39] #24 closed

[2017-04-14 09:45] antidis commented on #31
@pzuraq Testing it locally, and the problem seems to have disappeared. Thanks!

[2017-04-17 17:19] pzuraq commented on #37
Quick update, `scrollPosition` is definitely not recommended, we're removing it for `beta.2`.

@runspired any thoughts here? If `idForFirstItem` is not provided it does kind of make sense to have `renderFromLast` render from the bottom of the `scrollContainer` rather than the last element. I could see it going either way.

[2017-04-17 17:19] pzuraq commented on #35
Should be fixed now, @erkarl can you confirm?

[2017-04-17 17:20] pzuraq commented on #33
Still happens on occasion, much less frequent now. Seems to be before the build actually starts so could be NPM/Bower related.

[2017-04-17 18:18] erkarl commented on #35
Yep, working on latest master. @pzuraq - thanks. :)

[2017-04-18 05:31] #35 closed

[2017-04-20 03:44] alexander-alvarez opened #49 "Can't get a basic sample"
Wanted to play around and test, but I can't even get a basic sample up and running.

see https://github.com/alexander-alvarez/vertical-collection-test/commit/925638daf641610c78ef76c5c4995765f1d1f4de

any ideas as to what I'm doing wrong?

[2017-04-20 06:11] pzuraq commented on #49
Hey @alexander-alvarez! It looks like you need to add some styles to the scroll container. `vertical-collection` does not make any assumptions about how you want to style your app, and will not apply any styles anywhere.

You'll want to add something like this to your `app.css`:

[code]

[2017-04-20 06:11] #49 closed

[2017-04-20 06:16] pzuraq commented on #49
Let me know if you have any more issues, always glad to help. I think we should get this particular issue into the docs, I think it'll probably come up pretty frequently with new users.

[2017-04-20 13:51] alexander-alvarez commented on #49
... sorry. late night != conducive to logical thinking...
once vertical collection is published and 1.0, I can throw a base twiddle together that can be used to demo, and serve as a base to demonstrate bugs / setup issues.

[2017-04-20 17:30] pzuraq commented on #49
No worries, happens to all of us!

A twiddle for debugging would be awesome, that would really help for debugging and such. Wouls definitely appreciate it 😄

[2017-04-24 19:09] mani-mishra opened #51 "Cannot read property 'values' of undefined, in debug=true mode"
When I pass debug= true,
I see the following error in console.
<img width="812" alt="screen shot 2017-04-25 at 12 36 35 am" src="https://cloud.githubusercontent.com/assets/3315240/25354071/2bb65f62-294f-11e7-8876-0578f4aa070c.png">

Wanted to debug why the implementation is not very smooth for us.
But with that error, the scrolling stutters even more.

Current invocation in our app.

[code]

Grant

[2017-04-24 19:36] manimis902 commented on #51
I think we found the main reason for sluggishness.
It takes a while to create all the elements in DOM. (we are only looping trying to show 100 elements though)

First set of around 10 elements are in list, but all other come up after some 10-15 seconds.

[2017-04-24 19:43] pzuraq commented on #51
yeah, I've been meaning to spend more time on the debugger, it's definitely not ready for v1.0.0 yet and very buggy. It'll get better before then.

So, your `bufferSize` is very large, you will actually be showing 9x the height of your container. So for instance if your container is 1000px high, you'd be rendering `(9 * 1000) / 200) + 1 = 46` components, which may be more than you need. One way to

[2017-04-24 19:45] manimis902 commented on #51
Initially was using the default buffer size only. But on scrolling too fast, the container becomes empty and takes a while to render the new elements. So was trying with different options.

[2017-04-24 19:54] pzuraq commented on #51
Yeah, unfortunately fast scroll speeds can do that and there aren't many easy ways to throttle scroll 😕  (I'm planning on working on a wrapper component that will throttle scroll as a separate thing at some point)

Usually this will only cause a minor flicker except at the highest scroll speeds, and even then it tends to only be momentary. If you are experiencing long delays then it's likely becau

[2017-04-25 17:02] pzuraq opened #52 "`lastReached` and `firstReached` can continue firing forever"
We don't currently guard against `lastReached` and `firstReached` firing more than once for the same item, so they can keep firing after appends/prepends that don't actually affect what is rendered.

[2017-04-25 17:03] pzuraq opened #53 "`index` is not passed into the component on initial render"
we pass the correct item, but not `index`. This should be added here: https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#L276

[2017-04-25 17:06] pzuraq opened #54 "Possible bug in Firefox, scrollContainer too high"
The FrontHAT app seems to have too much space at the end of the scroll container, specifically in Firefox

<img width="1680" alt="screen shot 2017-04-25 at 18 04 19" src="https://cloud.githubusercontent.com/assets/685518/25397827/95878b1a-299e-11e7-8ecb-7c63d6134b8f.png">

[2017-04-25 17:09] pzuraq opened #55 "Change `bufferSize` to be a static number of components"
`bufferSize` is currently a multiplier of the scrollContainer height. This makes it hard to have granular control over the buffers, and because the point of them is to prevent flickering in general they don't really need to scale with the scrollContainer, so much as be a certain size relative to scroll speed.

[2017-04-26 11:47] v3ss0n opened #56 "Vertical-collection is choppy compare to smoke-and-mirror in dbMon demo, when scrolled down."
https://html-next.github.io/vertical-collection/#/examples/dbmon

When scrolled to bottom , the performance become choppy on low end intel Core2Duo 3rd gen machine with 2GB memory. It is fine on high performance machine.

[2017-04-26 11:49] v3ss0n opened #57 "Can't scroll to bottom on dbMon example in Chrome"
When scrolled down to the bottom-most , scroll stuck , can't get go the bottom.
![screenshot_20170426_181913](https://cloud.githubusercontent.com/assets/419606/25433017/e16220ea-2aac-11e7-8eba-6b896ef810b2.png)

[2017-04-26 16:45] pzuraq commented on #57
https://html-next.github.io/vertical-collection/#/examples/dbmon

[2017-04-27 15:47] runspired commented on #56
Closing this in favor of #57

[2017-04-27 15:47] #56 closed

[2017-04-27 15:58] pzuraq commented on #57
Found the issue and will be working on a patch

[2017-04-27 16:04] runspired commented on #57
The issue here appears to be an optimization we made for when the entire array appears to have been emptied or swapped, that resets scroll to the top.  Tracking a stable key for first/last reached should be enough.

[2017-04-28 07:27] runspired commented on #1
@pzuraq added a few tasks.

[2017-04-28 07:47] #57 closed

[2017-04-28 07:47] bloodknight2010 opened #61 "Item height must always be above minimum value"
I installed ember @html-next/vertical-collection and used vertical collection. When I switch mobile view and web view in browser. I got the following error.
**_Item height must always be above minimum value_**
Pls help me.

[2017-04-28 11:30] runspired commented on #61
It means exactly what it says, `defaultHeight` is a minimum value to which you agree that all your items are "at least as tall as", when an item height is encountered that is less than the default height in dev mode, you get this error.

[2017-04-28 11:35] runspired commented on #53
@pzuraq was there a perf reason why initially you didn't pass this in? I feel I semi-remember you trying to get around broadcasting index if unneeded for perfs.

[2017-04-28 11:35] runspired commented on #54
Any more details? This seems more likely to be a CSS issue on their end.

[2017-04-28 11:35] runspired commented on #55
👍

[2017-04-28 11:36] runspired commented on #52
This was made worse by us not correctly respecting `key` (since fixed).  I think this is still an issue but we should reconfirm now that the other thing is fixed.

[2017-04-28 11:38] runspired commented on #33
@pzuraq looking at the error in the logs, it seems to be due to #52, closing in favor of that ticket.

[2017-04-28 11:38] #33 closed

[2017-04-28 11:38] runspired commented on #34
Closing as I don't believe we should support zoomed containers and transforms should work out of the box (they still report the correct pixel size of the bounding box).

[2017-04-28 11:38] #34 closed

[2017-04-28 11:40] runspired commented on #37
I need more context on this issue, as I understand it, is the layout this?

[code]

[2017-04-28 13:28] antidis opened #64 "master currently failing all tests"
Seems to have happened as a result of this PR: https://github.com/html-next/vertical-collection/pull/62

Build is here: https://travis-ci.org/html-next/vertical-collection/builds/226719240

Unlike other broken builds, this failure happens consistently across all ember versions tested.

cc @runspired

[2017-04-28 13:39] runspired commented on #64
@antidis odd, this passed everything locally for me, lemme recheck

[2017-04-28 13:42] runspired commented on #64
@antidis are you in the EC slack?

[2017-04-28 13:50] antidis commented on #64
Just joined. "davebarrett" there.

[2017-04-28 13:52] #64 closed

[2017-04-28 16:05] runspired commented on #53
Fixed.

[2017-04-28 16:05] #53 closed

[2017-04-29 14:11] #61 closed

[2017-04-29 14:17] runspired opened #69 "Handle the collection starting hidden and off-screen"
See: https://github.com/runspired/smoke-and-mirrors/issues/95
See: https://github.com/runspired/smoke-and-mirrors/issues/150
And: https://github.com/runspired/smoke-and-mirrors/pull/151

Confirmation that this is still a problem in 1.0 beta 3: https://github.com/runspired/smoke-and-mirrors/pull/151#issuecomment-298159870

[2017-04-29 14:19] runspired opened #70 "Expose the key used for an item when sending an action"
See https://github.com/runspired/smoke-and-mirrors/issues/154

[2017-04-29 14:21] runspired opened #71 "[META] can we loosen min-height requirements?"
See (among others): https://github.com/runspired/smoke-and-mirrors/issues/127

[2017-04-29 14:30] pzuraq commented on #71
The current issue with this would be our strategy for the VirtualComponentPool. If we want to allow arbitrary heights below the minHeight, we may end up not rendering enough items at all.

If we can performantly check the heights and update the pool as needed, then the restriction could be changed to minHeight > 0

[2017-04-29 14:49] runspired opened #72 "[Meta] CSS Debugging"
Post all of our awesome refactoring, the CSS debugger is largely broken.  I figure this is a good time to revisit it and want to lay out a couple of things we should list as common traps.

The list below is incomplete, I just wanted to get it started

- [ ] visualize where we think each item is and how large it is.
- [ ] hovering over an item in the visualizer should show the index, key, item data

[2017-04-29 14:50] pzuraq commented on #72
For context, what was the difference between standard debug and debugCSS modes? And do we need both still?

[2017-04-29 14:55] runspired commented on #72
@pzuraq debug is for the visual debugger. debugCSS was a more expensive set of runtime checks that attempted to validate an end user's CSS for problematic style combinations.

[2017-05-02 02:49] tiandavis opened #73 "Unknown plugin "transform-es2015-block-scoping""
Heads up folks! We're getting this error after `ember install @html-next/vertical-collection`.

[code]

Thoughts?

[code]

Thanks Folks!

[2017-05-02 08:33] jevanlingen opened #74 "Vertical collection does not work very well with IE11 and Edge"
The plugin is just great in Chrome and Firefox. Sadly if I watch the [table demo](https://html-next.github.io/vertical-collection/#/examples/dbmon) in the Windows browsers, not so much.

**Internet Explorer 11**
First entries are loaded, but when scrolling down no new entries are drawn:
![image](https://cloud.githubusercontent.com/assets/1281763/25610101/2fdd14d6-2f22-11e7-9bd6-c1a87a398588.png)

[2017-05-02 09:20] evoactivity commented on #37
@runspired

my instance is more like so

[code]

Then to keep my collection items from being flush I added padding to the scroll container. So let's say my padding was 20px all around, the `renderFromLast` would goto the right item but be 40px too short.

[2017-05-02 14:05] runspired commented on #37
@evoactivity can you use margin instead for this? The trouble with padding is it's relatively hard to distinguish between height and padding, but it's not too hard to distinguish between margin and (height + padding).

[2017-05-02 21:33] runspired commented on #74
Does this only happen on the table demo? Or on the other demos as well?

[2017-05-02 21:36] runspired commented on #73
@tiandavis this likely means you need to update ember-cli for using babel6

[2017-05-03 07:15] jevanlingen commented on #74
**Internet Explorer**
- Infinite Scroll: Same behaviour
- Flexible Layout: Demo does not start, only gray square is visible:
![image](https://cloud.githubusercontent.com/assets/1281763/25650983/c5b9e2e0-2fe0-11e7-8e70-842ea4673a09.png)
- Scrollable Body: Demo does not start, whole page stays white:
![image](https://cloud.githubusercontent.com/assets/1281763/25650996/da5eed44-2fe0-11e7-9054-b47eacc

[2017-05-04 01:11] pzuraq commented on #71
From offline discussion, we can also warn instead of error when an item below minimum height is encountered. Technically, items can go below the minHeight and everything should Just Work, and it should be the user's responsibility to make sure that they don't go below that height often enough to stop showing at all.

[2017-05-04 04:07] pzuraq commented on #74
The issues with Edge are definitely related to the way tables render. Specifically, something to do with the way that we're adding VCs on initial render. If we populate the VC pool when we create the Radar, it renders like it should.

I can't seem to exactly reproduce the IE11 issues. For me, it renders the items, but doesn't update them on scroll.

Gotta handle some of the other issues, but edge

[2017-05-04 04:11] pzuraq commented on #70
Should we just pass this in as a third parameter to the actions?

[2017-05-04 04:29] pzuraq commented on #54
Yeah, not us. Turns out it's weird behavior with margins and box shadows in Firefox.

[2017-05-04 04:29] #54 closed

[2017-05-04 22:14] #52 closed

[2017-05-04 22:15] #70 closed

[2017-05-05 00:31] pzuraq opened #76 "SkipList breaks when heights are not integers"
Because the SkipList uses integer typed arrays as it's underlying store, it breaks if items are not pure integers. See the Scrollable Body example and scroll to the bottom to see this in action - it keeps detecting a difference between the actual height and the stored height, and it adds the delta to the total which then becomes inaccurate.

We could round out the values before we add them, but I

[2017-05-05 19:18] pzuraq opened #78 "Tests fail to connect to testem sometimes"
Example log file from Travis: [log.txt](https://github.com/html-next/vertical-collection/files/980081/log.txt)

[2017-05-05 23:22] #76 closed

[2017-05-05 23:23] #55 closed

[2017-05-07 05:55] #73 closed

[2017-05-08 05:29] runspired commented on #37
@evoactivity this should be fixed for static heights on master, and for dynamic heights when #84 lands.

[2017-05-10 17:31] runspired commented on #1
Some notes on performance and other things (not all of these need to be addressed for 1.0, but many should be)

- [ ] resize needs to be more properly debounced
- [ ] our scheduling redefines two functions that have meaningful work every single time, we should extract to a stable function to reduce allocation cost
- [ ] we aren’t using all our queues, lets drop what we don’t need
- [ ] the forced

[2017-05-10 17:37] maxzats opened #87 "Issues with race conditions and table crashing when browser resizes up"
<img width="646" alt="screen shot 2017-05-09 at 11 13 39 pm" src="https://cloud.githubusercontent.com/assets/4649160/25912556/8be67510-356c-11e7-8891-ca41b2057694.png">
<img width="1807" alt="screen shot 2017-05-09 at 10 28 03 pm" src="https://cloud.githubusercontent.com/assets/4649160/25912558/8c053efa-356c-11e7-9f88-909633d62a88.png">
<img width="1599" alt="screen shot 2017-05-09 at 9 22 51 pm"

[2017-05-10 17:38] runspired commented on #87
@maxzats Thanks :) cc @pzuraq

[2017-05-10 18:56] pzuraq opened #88 "Should use `max-height` property of scrollContainer if it exists"
`max-height` is a valid way to define the bounds of a scrollContainer, so it makes sense to use that if it exists.

[2017-05-12 02:01] pzuraq commented on #73
@tiandavis just to follow up on this, I have a clean Ember app generated from ember-cli 2.9.1, ran `ember install @html-next/vertical-collection` and everything appears to be working. Is the issue still there for you?

[2017-05-12 23:07] cibernox commented on #88
I was about to open the same issue, as I need it for https://github.com/cibernox/ember-power-select-collection

I understand that this refers to reading it from the computed styles of the container, not making it part of the component's API.

[2017-05-12 23:10] pzuraq commented on #88
Yes, we would be reading the CSS of the scrollContainer and if it has a `max-height` we would use that, otherwise we would use the calculated height. This should be coming in the next week, I'm starting work on some refactors that'll help with initial rendering speed, so it'll probably happen in there

[2017-05-13 16:46] runspired commented on #37
@evoactivity this should be fixed now, closing unless you encounter additional issue :)

[2017-05-13 16:46] #37 closed

[2017-05-13 20:38] cibernox commented on #88
@pzuraq If you give me some guidance I might be try. I've seen that the component uses minHeight all over the place, but I'm a bit lost between the container and the `getDimensions` helper.

[2017-05-13 20:39] cibernox commented on #88
If this is one of those "better stay away, it's not as simple as it seems" thing, let me know.

[2017-05-14 03:48] pzuraq commented on #88
It's not too hard to add right now, but the refactoe I'm about to land will change the flow it gets set in pretty significantly for perf reasons. Shoukd be able to land it my Monday at the latest, so probably best to wait

[2017-05-16 11:24] evoactivity commented on #37
Nice one @runspired, I'll let you know if I run into anything?

[2017-05-17 22:51] pzuraq commented on #88
Ok, this issue should be fixed by #89. Let us know if it works for you @cibernox!

[2017-05-17 22:51] #88 closed

[2017-05-17 22:51] pzuraq commented on #87
Should be solved by #89

[2017-05-17 22:51] #87 closed

[2017-05-22 20:56] erkarl opened #91 "Weird padding/margin on occluded-content"
The landscape mode has way too much “padding/margin” when scrolling (on occluded content).

https://drive.google.com/file/d/0B4OTX4eSH_Plb0ExY25TdVc5eXc/view

Also tested it on real devices (iOS 10 Chrome which is just a Safari wrapper) and it seems a legit bug.

Source: https://github.com/erkarl/fronthat/blob/master/app/components/job-list/component.js
Live demo: https://fronthat.com/

[2017-05-24 04:35] erkarl commented on #91
Also tried replicating the issue using vertical-collection examples, but no dice.

[2017-05-24 17:13] pzuraq commented on #74
IE11 should have been fixed by #92, still working on Edge so keeping this issue open

[2017-05-24 17:23] pzuraq commented on #91
This issue appears to be fixed on the latest master, cloned and ran it locally. I believe we caught this issue in a recent refactor and have tests for it now, so hopefully it won't pop up again.

[2017-05-24 17:23] #91 closed

[2017-05-25 13:57] erkarl commented on #91
@pzuraq I was able to reproduce it again on latest master.
`rm -Rf node_modules tmp dist` -> `yarn`

![screen shot 2017-05-25 at 16 56 36](https://cloud.githubusercontent.com/assets/1056569/26453088/31bd50da-416b-11e7-8ade-27ef42faee29.png)

[2017-05-25 14:31] pzuraq commented on #91
You need to run yarn upgrade, remember that Yarn will lock you to specific commit.

[2017-05-25 17:24] erkarl commented on #91
Right, thanks @pzuraq. Working perfectly (tested on real devices). Even Samsung Galaxy S3 Mini is usable.

[2017-05-25 17:58] pzuraq commented on #91
Awesome, great to hear! I want to get a lower end device to test on, glad it's performant even on smaller devices 😄

[2017-05-25 23:55] alexander-alvarez commented on #72
I'm playing around with `vertical-collection` with ember light table, and was not having luck getting data to be occluded.
Aside from pitfalls and such was wondering what was meant by:

as we use tbody in our table.
https://github.com/offirgolan/ember-light-table/compare/master...alexander-alvarez:perf-analysis

[2017-05-26 00:59] pzuraq opened #95 "Uncaught: Changing a view's elementId after creation is not allowed"
Ember Version: 2.10.2
Vertical Collection Version: 58a7e4d0cf339469369a6ec35a0c39b3520e61ac

Getting an uncaught error being thrown during the scheduler's `run.end()`:

[code]

[2017-05-26 01:00] pzuraq commented on #72
@alexander-alvarez looks like this might be a bug with your specific version of Ember, I'm getting an error thrown after it attempts to update. Opened #95, will look into it asap. Can you test if it's still a problem in other versions of Ember? We have tests for LTS branches and release, but I don't think 2.10

[2017-05-26 04:51] alexander-alvarez commented on #72
you want me to go back or forwards in versions? I'll investigate in the morning

[2017-05-26 05:27] kumkanillam commented on #74
In IE-11 , I get the error `Unable to get property 'scrollTop' of undefined or null reference`.

![image](https://cloud.githubusercontent.com/assets/16604113/26481963/0caac042-4202-11e7-87fa-c2bf7bf289b1.png)

[2017-05-26 06:02] pzuraq commented on #74
It looks like you're using an older version, can you update to the latest master and see if it still happens? We should be releasing a new beta soon

[2017-05-26 06:02] pzuraq commented on #72
Forward should be fine, current release would work

[2017-05-26 11:09] kumkanillam commented on #74
I updated using this command `ember install git+https://github.com/html-next/vertical-collection.git#master`.
Now I am receiving the below error,

[code]

[2017-05-26 14:54] pzuraq commented on #74
That looks like a babel issue to me, we do some custom babel transforms to make everything faster when possible. What version of ember-cli are you using?

[2017-05-26 15:32] alexander-alvarez commented on #95
So I bumped versions to `2.11.3`, `2.12.2`, and `2.13.2` and was getting the same error, so I think it's related to the configuration in offirgolan/ember-light-table@master...alexander-alvarez:perf-analysis exposing something that isn't playing nice.

the above stack trace stems from the radar's `scheduleUpdate`
[code]

[2017-05-26 16:07] runspired commented on #74
ember-cli needs to be ~2.4 or later I believe

[2017-05-26 17:28] pzuraq commented on #95
So I took a look at the code this morning, it looks like this line is what's causing it: https://github.com/alexander-alvarez/ember-light-table/blob/perf-analysis/addon/templates/components/lt-body.hbs#L17

The issue is that we recycle these components, and Ember won't let you manually change the `elementId` of a component that has already been rendered. Is there a reason you need to have the `ele

[2017-05-26 17:35] pzuraq commented on #74
For reference, we're running Ember-CLI 2.8 with Ember 1.8, so it's possible to use a much later version of CLI with earlier versions of Ember. I'd definitely be willing to help you figure out what's happening and fix it @kumkanillam, especially if it's on a more recent version of Ember-CLI

[2017-05-26 18:19] alexander-alvarez commented on #95
not sure -- @offirgolan would know better

[2017-05-26 19:05] kumkanillam commented on #74
@pzuraq Sorry for the late reply. I am using
ember-cli: 2.11.0
node: 6.3.1
os: win32 x64
"ember-source": "~2.11.0",
- For master, `ember install git+https://github.com/html-next/vertical-collection.git#master` I am getting the `_verticalCollectionPrivate.Token is not a constructor  error TypeError: _verticalCollectionPrivate.Token is not a constructor` in Chrome.
-For latest version `ember install

[2017-05-26 19:11] pzuraq commented on #74
yeah, the error you're getting on `beta.3` has likely been fixed in `master`. The error you're getting on master is very different, it looks like something strange is happening with your build that's causing our `-private` package to not exist. Can you post your `ember-cli-build`, and the other addons that you're using? If not, can you reproduce in a minimal example app so that we can try to debug

[2017-05-26 19:24] kumkanillam commented on #74
I will try it in brand new app, and let you know the status now.

[2017-05-26 20:14] kumkanillam commented on #74
@pzuraq  I created new app called `vc-test`, its working fine. it comes with `"ember-cli": "2.12.1"` but then when I change this to `"ember-cli": "2.11.0",` version by running the `npm install ember-cli@2.11.0 --save-dev`. I got the error in chrome. Is there any difference if I update ember-cli version alone without following proper update I haven't done `ember init` too.. I am ok to screensharing

[2017-05-26 20:36] kumkanillam commented on #74
I can confirm that ember-cli version 2.11.0 is causing chrome error.

[2017-05-26 20:37] pzuraq opened #96 "`private` fails to compile correctly on Ember-CLI 2.11"
[code]

[2017-05-26 20:38] pzuraq commented on #74
Ok, I opened #96 to track this issue, looks like we have a bug with that specific version of ember-cli

[2017-05-27 05:37] offirgolan commented on #95
@alexander-alvarez @pzuraq yeah I ran into the same issue when I was playing around with this as well. A simple workaround is to store the rowId as a `data` attribute instead 😄

[2017-05-27 06:05] pzuraq commented on #95
Ok, going to close this issue because I don't think we can do anything about this without sacrificing performance.

[2017-05-27 06:05] #95 closed

[2017-06-02 19:00] pzuraq commented on #74
So now that `beta.4` is released I'm revisiting this, IE is throwing an error because something doesn't support an `includes` method, and Edge is failing on some examples due to measuring errors. The other issues mentioned seem to be resolved with the new rendering strategy, so going to dig into those and close this once we fix them.

[2017-06-02 21:20] pzuraq commented on #74
So it looks like IE/Edge do not have the same results for `Range.getBoundingClientRect` as every other browser. In IE, the blank text nodes surrounding each Virtual Component are seen as if they are immediately surrounding the _text_ content of the component, not the DOM nodes. The heights we get back are inaccurate because of this.

This is very problematic for our current measuring strategy, bas

[2017-06-14 16:44] v3ss0n commented on #96
happening to me

[2017-06-14 16:54] pzuraq commented on #96
@v3ss0n this is an issue with ember-cli specifically since what's happening is it's not including a module in the final build. Can you post some information about your ember-cli setup?

[2017-06-15 08:52] v3ss0n commented on #96
i had updated to ember cli 2.13.2 and all is fine now.
my setup was node 6.4 , ember-cli 2.10

[2017-06-20 14:52] patocallaghan opened #100 "Turn off vertical collection debug message"
Just wondering if would you entertain a PR to add the ability to switch off the vertical collection debug message in the console? We try to keep our app console free of unnecessary debugging messages and deprecation warnings and would love to turn off the vertical-collection one if we could. We currently see it in `dev` and `test`.

https://github.com/html-next/vertical-collection/blob/6f19fcb64a2

[2017-06-20 18:11] alash2k commented on #96
Is there anything we can do to make it work with ember-cli 2.10 ?

[2017-06-20 19:36] deepflame opened #101 "scroll container max-height is calculated (does not render entire list)"
Hi everyone,

thanks for the great addon!
Today I just ran into a problem.

The list is not completely rendered and just fills up when I start to scroll it.
Guess the reason is that the surrounding scroll container has a calculated height like this:

[code]

Any idea how to redraw the list properly?

Thanks
Andreas

[2017-06-20 19:44] pzuraq commented on #101
Hey @deepflame,

We don't currently handle max-height properties that are non-pixel based, you can see the relevant code here: https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#L182

I think supporting non-pixel based values would be fine, it's just tricky to implement.

[2017-06-20 20:14] deepflame commented on #101
Hi @pzuraq ,

thanks a lot for the quick reply!

Hmm, it seems that the `scrollHeight` values I get here are both 0 ( https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#L186 ).
It should take whatever is bigger, right?

Seems to me this is a timing issue, no? Guess the height of the container is not known at the time its bounds are known ( https://

[2017-06-20 21:22] pzuraq commented on #101
I'm thinking that it's because you're using `max-height` instead of `height`. The container will conform to its content, and because there are no items rendered at all on initial render it will be 0. If your `max-height` value were a static pixel number we could just use that instead, which is what happens now, but because it's based on non-pixel units we need to add functionality to convert those

[2017-06-21 01:30] pzuraq commented on #100
I think we can probably remove them outright for now, and add instrumentation back in with Heimdall/ember-perf-timeline. What do you think @runspired

[2017-06-21 01:42] pzuraq commented on #96
@alash2k there probably is, but at this point we're focussing on solidifying the component and prepping for v1.0.0, so it will probably have to wait until after that. PRs are always welcome, and you can also upgrade Ember-CLI without upgrading Ember itself (we're currently using Ember 1.11 with Ember-CLI 2.8)

[2017-06-21 01:48] alash2k commented on #96
Thanks Chris. I did try to update ember CLI to 2.13.2 with ember 2.10. I am
also on ember engines which I can't upgrade as well. Will see if I can come
up with a fix that I can do a PR. Just for the sake of testing, I imported
private with something like 'import private from ../private/index' and it
worked.. not sure if that's good enough...

Radha

On Jun 20, 2017 8:42 PM, "Chris Garrett" <notifi

[2017-06-21 07:19] deepflame commented on #101
Hi @pzuraq ,

I did as you suggested and put `height: 100vh`. This is working perfectly. So the initial render takes up the whole space (but still honoring the max-height value).

I also learned that `element.style.maxHeight` just works on inline styles. So no wonder I just got an empty string.

Sure, putting the max-height inline and parsing its complex CSS would just be too much. Setting just th

[2017-06-21 07:19] #101 closed

[2017-06-21 09:15] patocallaghan commented on #100
@pzuraq I was actually just referring to the console message below but you guys know best :)

[code]

[2017-06-21 16:34] pzuraq commented on #100
Ah for sure, thought you meant the web console 😅 I think it would be fine to remove that or at least make it more minimal, we just need to update the documentation to let people know about it. I want to hear @runspired's thoughts first though

[2017-06-21 16:35] pzuraq commented on #101
Ah, we need to fix that, it should be on the computed styles for the element. Glad it worked out for you though!

[2017-06-21 16:40] runspired commented on #100
I think we should just remove this in favor of documenting the aggressive code stripping etc. we do in production that we don't do in dev. I added that initially because at the time no addons were considering how to minimize their prod footprint, but these days many do.

[2017-06-30 17:24] pzuraq commented on #74
So I'm going to attempt a refactor where we find and measure the root elements of each VC directly, and throw errors if any text nodes are included that aren't wrapped in an element and contain content of any kind. The alternative is to enforce one single root element, which may end up being what we have to do.

[2017-06-30 18:46] #100 closed

[2017-07-15 20:33] pzuraq commented on #71
Loosened with the `minHeight` -> `estimateHeight` refactor. Closing this.

[2017-07-15 20:33] #71 closed

[2017-07-15 20:34] pzuraq commented on #69
We should test if this is still an issue now with the `estimateHeight` refactor. VCs will only render as needed, so if the collections starts hidden/offscreen and comes on, they should populate it automatically.

[2017-07-15 20:37] pzuraq commented on #1
Marked notes that I think have been addressed since your last comment was made, let me know if I'm wrong

[2017-07-15 23:44] pzuraq commented on #74
Should be fixed now! Let me know if there are any more issues with IE/Edge. I'm going to try to get Saucelabs set asap so we are actually running the full test suite against all browsers.

[2017-07-15 23:44] #74 closed

[2017-07-15 23:49] pzuraq commented on #51
Going to close this issue as a duplicate of #72 for the debugger stuff. For the perf issues, we've really tightened things up on the latest beta and master, so I'd recommend updating. `bufferSize` is also a lot more intuitive now, it will render at most `bufferSize` extra items on either side of the scroll container. If you'd like tips on how to make your components render fast let us know it #e-s

[2017-07-15 23:49] #51 closed

[2017-07-21 13:09] patocallaghan commented on #100
I just noticed you removed this. Thanks 🙌

any idea when the next beta release is?

[2017-07-21 14:57] pzuraq commented on #100
Working on it now, I'd like to get 3 new features in, the optional rectcling PR (just needs tests) and two a11y features

[2017-07-25 22:21] pzuraq commented on #72
@runspired according to MDN, `overflow-scrolling` shouldn't be used. I don't think we should enforce it or warn until it's closer to becoming a standard.

https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling

I left it out of the debugCSS fix, we can add it back if you disagree.

[2017-07-25 22:24] pzuraq commented on #72
cleaned up the current debugger code and made it all work again. We can continue to iterate on it, but I think it's at a place where it's shippable

[2017-07-25 22:42] #69 closed

[2017-07-25 23:29] pzuraq commented on #100
@patocallaghan beta 5 is up!

[2017-08-06 11:18] cibernox opened #118 "Add mouseenter/mouseleave events"
It's not clear to me what is the idiomatic way of adding `mouseevent/mouseleave` events on each entry of the collection. Using event delegation is not easy because those events don't bubble.

[2017-08-08 19:32] pzuraq commented on #118
I'd think adding them to a component directly would be the best way:

[code]

Is there something that's preventing you from doing that?

[2017-08-10 18:44] iand675 opened #120 "Vertical collection is a bit janky when used with liquid-fire"
I've got a table with rows that are rendered via `vertical-collection`. I'd like to use liquid-fire to fade the table in, but when I do so the rows in the `vertical-collection` render after the fade animation happens, so there's a noticable pop in of content post-animation. Ideally there'd be a way to coordinate row rendering with liquid-fire so the rows would be rendered prior to fading in, altho

[2017-08-10 18:47] pzuraq commented on #120
Have you tried using the `initialRenderCount` option?

The pop comes from us waiting for `didInsertElement` and scheduling a RAF, which will be difficult to coordinate with liquid-fire/velocity's animations. We wait so that we can measure the container to tell how many items we need to render (based on the `estimateHeight').

However, we added the `initialRenderCount` option for situations where y

[2017-08-11 19:44] iand675 commented on #120
Yes, this seems to be perfect. Thanks for the pointer!

[2017-08-11 19:44] #120 closed

[2017-08-15 06:15] erichonkanen opened #121 "Add documentation"
Hello, do you guys plan to add documentation to this library? The aim of this project is promising but without proper documentation it's hard for people coming into it new...

[2017-08-15 14:34] pzuraq commented on #121
Hey @erichonkanen, we are planning on adding more thorough docs when we get to v1. In the meantime, there are a lot of examples on mostly complete api documentation on the [demo site](https://html-next.github.io/vertical-collection/#/examples).

Specifically, what do you think is missing from the docs right now that should be added?

[2017-08-15 18:15] erichonkanen commented on #121
I didn't see any docs at all I guess just a link to the demo!

[2017-08-15 18:38] erichonkanen commented on #121
the only "docs" I see are demo template code and a settings file on the demo link...

for instance I just tried creating a vertical-collection component and got this error yet I don't see `minHeight` described anywhere?

```Uncaught Error: Must provide a `minHeight` value to vertical-collection https://sqwok.dev:4200/assets/vendor.js 233817 13 Error: Must provide a `minHeight` value to vertical-co

[2017-08-15 18:39] pzuraq commented on #121
You are using an older version of `vertical-collection`. The current latest is `v1.0.0-beta.6`, which has changed `minHeight` to `estimateHeight` and removed the `minHeight` constraint.

[2017-08-15 18:43] erichonkanen commented on #121
do you guys offer consulting if we can't figure this out? it's a critical part of our project im on slack @holler

[2017-08-16 11:13] BryanCrotaz commented on #121
I just installed with `ember install` and got beta 4

[2017-08-16 11:19] BryanCrotaz commented on #121
Looks like you haven't published beta 6:

from NPM
pzuraq pzuraq published 2 months ago
1.0.0-beta.4 is the latest of 6 releases
github.com/html-next/vertical-collection

[2017-08-16 15:01] pzuraq commented on #121
It's published:

[code]

However the last version is showing up incorrectly. It may be because we started using npm tags properly with the [np](https://github.com/sindresorhus/np) tool for the last couple of betas. These are beta versions, so I would always double check that you have the latest version installed, you can
do so by listing all versions from NPM or checking the tags, which we always

[2017-08-16 15:01] #121 closed

[2017-08-16 16:07] BryanCrotaz commented on #121
I would humbly suggest that the tags are incorrect. Both the npm project page [https://www.npmjs.com/package/@html-next/vertical-collection] and `npm install` give beta-4 as the latest version

[2017-08-16 16:09] pzuraq commented on #121
Yes, as I mentioned in my last comment, our publishing process changed for the past 2 beta versions and we are now using the npm `next` tag, so it's probably messed up. The only recourse here would be to unpublish the previous betas, or to push v1.0.0. Since we are very close to 1.0.0 final I think waiting would be the best course of action in case anyone is still using an older beta version.

[2017-08-16 16:14] BryanCrotaz commented on #121
Looks as though the `latest` tag may not have been atttached. This could be fixed by publishing a beta-7 with that tag as well as the `next` tag

[2017-08-16 16:16] pzuraq commented on #121
👍 sounds good, we did have a bugfix go in so I think publishing beta.7 would be good. I'll push it as soon as I get into the office.

[2017-08-16 19:02] patrickng opened #122 "Mobile Safari "scroll to top""
While implementing this on a mobile web app, I used the scrollable body demo and it works great. I noticed an issue when trying to scroll to the top by touching on the top bar in iOS. I am using an "infinite load" concept to load more items onto the page. When you scroll to the bottom, it makes an ajax call to the API to get more items. After those items load, the model is updated and the new item

[2017-08-16 20:00] pzuraq commented on #121
`beta.7` has been published, and the tags have been fixed

[2017-08-16 20:02] pzuraq commented on #122
Can you update to the latest version of vertical-collection, `v1.0.0-beta.7`, and see if the problem persists? I have a couple of different theories as to what's going on and I think most of them would have been fixed by recent changes.

[2017-08-16 20:56] patrickng commented on #122
Thanks for the quick reply I just updated to beta.7 from beta.6 and the same behavior can still seen/reproduced on desktop and mobile.

[2017-08-16 21:07] pzuraq commented on #122
Ok, it may be related to another Firefox bug we had a while ago where it would stop scrolling because it would detect resizes in components as it scrolled up, and would then shift the scroll position accordingly. If we're scrolling upwards and we recorded that an item was `100px` high, but then when it rendered it turned out it was `150px` high, we would need to shift the scroll window down `50px`

[2017-08-17 00:46] patrickng commented on #122
After some further testing, I think I found the problem. It seems that margin-bottom on each of the elements causes the issue that I'm experiencing. I've zipped up a demo with all the dependencies. Simply run `ember serve` in the main folder and scroll a few times to generate some extra data, then try to Cmd + Up to go back up. Removing the ```margin-bottom: 20px;``` in tests/dummy/app/templates/d

[2017-08-17 09:51] BryanCrotaz commented on #121
:) ta muchly

[2017-08-17 12:18] BryanCrotaz opened #124 "scrolling fixed list renders incorrectly"
I have a list of 50 objects, rendered in `vertical-collection` `beta-7`. As you can see from the timeline image scrolling is broken:

![vertical-collection](https://user-images.githubusercontent.com/2016523/29411919-a4e5430e-834e-11e7-9b53-3adbe6528330.png)

It starts by filling the height + a couple at the bottom. As you scroll it doesn't add new items until we reach the estimatedHeight at the to

[2017-08-17 15:16] pzuraq commented on #124
Can you post the your usage of VC, along with the CSS you're using it with?

[2017-08-17 16:32] pzuraq commented on #122
Alright, so I've tracked down the issue. It's occurring because the margin on the bottom of the item is different than the margin on the top. This means that for any item, if it is rendered as the very first item it has a different effective height than if it is rendered as any other item:

<img width="600" alt="effective-heights" src="https://user-images.githubusercontent.com/685518/29422746-0ae6

[2017-08-17 23:40] runspired commented on #121
There is also always the choice to republish a missing package ;)

[2017-08-18 10:18] jevanlingen commented on #74
@pzuraq: At the moment I used beta.7 in combination with Ember 2.12. Just upgraded to Ember 2.14.

Everthing went fine, but stumbled at an IE error: `TypeError: Unable to get property 'source' of undefined or null reference`.

Are Ember 2.13 and 2.14 already fully supported btw? If I check the demo pages, Ember 2.12 is used there as well!

[2017-08-26 21:16] billy-addepar opened #127 "VC does not detect table body height change."
My table is using VC and only 2 rows are rendered at the beginning:

<img width="1043" alt="screen shot 2017-08-26 at 2 07 22 pm" src="https://user-images.githubusercontent.com/11281370/29745111-e94f3660-8a67-11e7-8c57-b9e7ed8884c9.png">

You can see entire white space below the first 2 rows. However, as you start scrolling all other rows start to render.
<img width="1036" alt="screen shot 2017-08

[2017-08-26 22:52] pzuraq commented on #127
I think this may be more of a CSS/timing issue, the container should be able to know it's height by the first render frame somehow. As a temporary fix, consider using initialRenderCount to fill out the first render.

[2017-08-27 04:33] billy-addepar commented on #127
That sounds a good idea. The only issue with that is `initialRenderCount` is used very early in the construction of VC component
https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#L67

At that time, we do not have everything rendered on screen yet. Nor do we know the height of table. Hence it's very hard to know what `initialRenderCount` value shou

[2017-08-27 04:37] billy-addepar commented on #127
I should we should consider moving some variables initialization in `init` of `radar` to the first RAF. At that time the parent component of the VC has some knowledge of surrounding environment and can give more accurate estimate of `bufferSize`, `initialRenderCount`, `estimateHeight`, etc.

[2017-08-27 04:56] pzuraq commented on #127
initialRenderCount is not supposed to be accurate, it just allows you to render something on the very first render. We don't have enough information to render the correct number until the first paint (first RAF), and in some cases we never have that information (fastboot) so it's essentially a guess.

By first the time VC is running in the first paint, everything we need to know the correct number

[2017-08-28 23:13] billy-addepar commented on #127
There is an issue with calculating `max-height` in VC. If `max-height` is a percentage, its number is not calculated correctly. This PR fixes that:

https://github.com/html-next/vertical-collection/pull/128

[2017-09-07 18:21] pzuraq commented on #74
They should be supported, I haven't encountered that issue with any version of Ember before, and we run all of our tests against the latest release, beta, and canary versions, although not in IE. Can you post steps to reproduce?

[2017-09-07 18:29] pzuraq commented on #124
Based on the symptoms and similar issues I've had recently I'm going to say that this is being caused by incorrect CSS container styles. Something like this could cause the issue:

[code]

Note that the immediate parent of the VC is not the scroll container, and the VC does not have `containerSelector` set to tell it to not use the immediate parent but the actual scroll container. The intermediate

[2017-09-07 18:29] #124 closed

[2017-09-07 19:41] BryanCrotaz commented on #124
Could you add some documentation around this? It's certainly not obvious from the documentation that's there, but it makes sense now you say it.

[2017-09-07 19:48] pzuraq commented on #124
Yes, we're working on docs for the v1 release, will add a section on scroll containers

[2017-09-13 05:56] erichonkanen opened #131 "Add ability to insert block above or below scrollable content"
Hello,

I have a use case where I want to insert a block of content  at the very beginning of a collection (index 0 AND at very beginning of results e.g. no next link), the way I had thought to do this was a simple block inside the block form of vertical-collection but it seems there is no `yield` in the template to make this possible.

Could we add such a capability? Example:

[code]

component/t

[2017-09-13 06:04] pzuraq commented on #131
If I understand what you're trying to do, it should actually be doable currently without modifying `vertical-collection`. The collection is designed to not need to be the only child of the scroll container, so a header or footer can exist in the same scroll container and it should adapt accordingly:

[code]

Does that do what you're describing?

[2017-09-13 06:09] erichonkanen commented on #131
ok but the problem is I only want to display this at the very beginning of the entire result set... I need to both a) ensure im at index 0, and b) ensure im at the very beginning of the results (meaning there are no more results to load // paginated data)

[2017-09-13 06:10] erichonkanen commented on #131
maybe there is a way I can set a css class and do it that way? not sure

[2017-09-13 06:13] pzuraq commented on #131
Well, this would render at the very top of the collection, so it would not be visible unless you were at index 0. You could then use an if statement for if there is more data to be loaded:

[code]

The one difference here is that as soon as you load the first record, the text would always be _rendered_. However, because it's at the top of the scroll container, above all of the occluded content and

[2017-09-13 22:04] pzuraq commented on #131
We talked about this on Slack and the solution above does work, so closing this for now.

[2017-09-13 22:04] #131 closed

[2017-09-14 23:39] pzuraq commented on #127
Fixed by #128

[2017-09-14 23:39] #127 closed

[2017-09-15 08:05] jevanlingen commented on #74
Ah just found the problem, I was missing some polyfills for IE. Just by adding
[code]
to the [ ember-cli-build.js](https://github.com/babel/ember-cli-babel#polyfill) fixes the problems!

Apparently you need full polyfills to let vertical-collection work with the latest Ember versions. @pzuraq: Maybe this should be noted somewhere in the docs?

[2017-09-15 17:43] pzuraq commented on #74
The polyfills shouldn't be required, if we're relying on polyfilled APIs then we should probably figure out what APIs those are and fix them. Can you post reproduction steps so we can do that?

[2017-09-15 17:43] pzuraq commented on #74
I tried using the error message you posted above, I can't find anywhere in the source where we access a `source` property

[2017-09-15 20:56] pzuraq commented on #96
I haven't been able to reproduce this, if it's still an issue with the latest beta feel free to reopen this issue with reproduction steps. Closing for now.

[2017-09-15 20:56] #96 closed

[2017-09-16 04:22] runspired commented on #118
@cibernox could you explain why you think they don't bubble or provide a twiddle?

[2017-09-19 03:54] ming-codes opened #138 "Acceptance Test Error in PhantomJS"
[code]

I suspect this has to do with the [`setTimeout` in `{{vertical-collection}}`](https://github.com/html-next/vertical-collection/blob/23e244104e7ff1a8050683ed1e2e88062660e480/addon/components/vertical-collection/component.js#L148) not registered with Ember run loop. So the test failed to wait for the render cycle to complete. This make sense too as the test I have fails on every fifth build.

[2017-09-19 04:12] pzuraq commented on #138
We purposefully use `setTimeout` and `requestAnimationFrame` to sidestep the Ember runloop here for performance reasons. `requestAnimationFrame` is not yet integrated with the runloop, and we need it to be able to interrupt the browser's render cycle to measure and change scroll position when needed. `setTimeout` is used to schedule an event to occur immediately after the `requestAnimationFrame` e

[2017-09-19 04:18] pzuraq commented on #138
@runspired I think this points to us needing to focus on testing documentation, and possibly add a test helper that can be easily integrated into tradition Ember tests and async/await style tests

[2017-09-19 04:27] ming-codes commented on #138
I believe async/await is also hooked into `ember-test-helpers/wait` and therefore need a registered waiter for it to work. Unfortunately, we're using `ember-cli-pages-objects` that doesn't use `ember-native-dom-helpers`. [(There's an open ticket for it thought)](https://github.com/san650/ember-cli-page-object/issues/311)

If I am to setup a waiter for this, what's the proper way to detect there's

[2017-09-19 04:40] pzuraq commented on #138
It is and it isn't. Async/await just waits for promises, so you can have helper fuctions that wait for anything - but that usually means you want to use `wait` to really flush any runs. With VC it's a little weird since we are flushing synchronously in both cases.

Yeah, I wouldn't hook into the scheduler here, it's very much private API. I'll try to get something working using `registerWaiter` to

[2017-09-19 18:37] ming-codes commented on #138
I can understand how rAF can improve performance. But how is using `setTimeout` with manual `run` different from using `Ember.run.later`?

[2017-09-19 18:43] pzuraq commented on #138
Under the hood `Ember.run.later`/`Ember.run.next` do a bit more work for scheduling, they don't just schedule a `setTimeout`, so there are some differences. I forget the exact reason we switched to using `setTimeout` directly here though, @runspired do you remember?

[2017-09-19 23:15] pzuraq commented on #138
So I wrote [this addon](https://github.com/pzuraq/ember-raf-test-waiter) that adds a test waiter which completes after two RAFs, similar to the custom `waitForRender` function we're using in VC. It works, and it seems to work with both acceptance tests and `ember-test-helpers`, but it's not pretty.

The other strategy I'm considering at the moment is:

1. Overwrite the acceptance test `wait` helpe

[2017-09-19 23:37] ming-codes commented on #138
Here's another idea.  If `setTimeout` really does improve performance, we can have two code paths. We can use `Ember.run.later` in the test build and `setTimeout` in a performance optimized production build. What do you think?

[2017-09-19 23:41] pzuraq commented on #138
I'm not sure that `setTimeout` is the culprit here, the way the `wait` helper works it should be waiting for scheduled macro tasks to send as is. `requestAnimationFrame` is more likely to be the issue. Have you tried the addon I linked above? If it doesn't work and you're sure it is `setTimeout`, can you post a reproduction so we can dig in?

[2017-09-19 23:44] ming-codes commented on #138
Sure, I'll give the addon a try tomorrow and report back.

[2017-09-20 16:36] ming-codes commented on #138
Yup, the test waiter addon works 👍

I'll close this issue.

[2017-09-20 16:36] #138 closed

[2017-09-20 19:13] nragaz opened #139 "Remove scroll handlers can be called before they are added"
If teardown occurs before the first scheduled sync, then `removeScrollHandler` will error because the scroll handler hasn't been installed yet.

This can happen if a user navigates away from the page that displays the component at precisely the moment between init and sync.

[2017-09-21 18:25] ming-codes commented on #139
I had a similar issue, but I thought it was because of `setTimeout` not hooked up with run loop. It may be this issue.

[2017-09-21 18:28] pzuraq commented on #139
Ah, it does look like this is the same issue from before. We should definitely wrap that code in `willDestroy` with a conditional based on whether or not initialization has happened, thanks for pointing this out!

[2017-09-21 18:48] nragaz commented on #139
@ming-codes  Thanks for the quick fix!

[2017-09-21 19:09] #139 closed

[2017-09-26 20:04] pzuraq opened #141 "Add staticPool option"
Depending on use case, there are times when it makes more sense for the collection to have a dynamic number of components based on the measured height of each component rather than a static number based on `estimateHeight`. Like `staticHeight`, this option should be opt-in to avoid confusion and allow users to optimize based on their use case.

[2017-10-18 15:27] anehx opened #145 "Integration tests fail"
Hi,

When I run an integration test of a component using `vertical-collection` I always get this error:

[code]

I was able to reproduce this in a new empty ember app so it's not because of my application. Sadly I couldn't create a twiddle somehow..

[2017-10-18 15:31] nragaz commented on #145
This is likely resolved by https://github.com/html-next/vertical-collection/pull/140, but it doesn't seem like that change has been in a release yet.

[2017-10-18 16:39] anehx commented on #145
Actually this didn't fix it since I do have `this._scrollHandler`, however `this._scrollContainer` is null..

[2017-10-18 16:45] anehx commented on #145
I found the error. In my app I pass `containerSelector` which does not exist while testing. #140 fixes the error in a new application.

[2017-10-18 16:45] #145 closed

[2017-10-18 17:08] kylemellander opened #146 "Attempt to remove scrollHandler failing in tests"
Intermittently in tests, I get an error when using vertical collection with an error like this:

[code]

This is causing some of my async tests to fail.

[2017-10-18 17:15] nragaz commented on #146
Have you tried with the fix from #140 ?

[2017-10-18 17:48] pzuraq commented on #146
I'll release the fix today, just need to get #144 and #143 merged

[2017-10-18 21:31] kylemellander commented on #146
ahh!  glad to see its in the works - thanks for you work on this!

[2017-11-01 21:56] patrickng opened #154 "Uncaught TypeError: Cannot read property 'append' of null at DynamicRadar.append"
We have been using this plugin on production and encountered some issues with the application not loading occasionally. It happens very rarely and I'm not sure what is causing this. It can happen randomly when we refresh the page enough times but we haven't been able to identify a pattern. The error that shows up in the console is:

[code]

At that point it looks like skipList is null for some rea

[2017-11-02 00:16] pzuraq commented on #154
What's happening here is somehow you're modifying the array twice before the first render. We haven't setup the Radar, so we haven't setup the skiplist by that time. Generally, this shouldn't be possible, but there are some edge cases that cause it to happen it seems.

Check #147, which was a proposed fix for this issue. We're still trying to figure out exactly what the best strategy for dealing w

[2017-11-02 17:32] patrickng commented on #154
Thank you @pzuraq, this was exactly the problem.

We are using ember-infinity addon and what was happening is that with our scrolling context being set to 'window', the loader element was visible before the content was loaded into vertical-collection. As a result, an AJAX request was made for the second batch of items which pushes additional items to the collection. Under normal circumstances, thi

[2017-11-02 17:32] #154 closed

[2017-11-09 23:06] patrickng opened #155 "Tracking of states/properties in components within vertical-collection"
When the addon is adding and removing components with nested subcomponents, I'm noticing that if we quickly go to the bottom then to the top, it's mixing up the states of each individual component instance. To give some details on the set up of this list, we have a vertical-collection of activity-card components:

[code]
In each activity-card component, amongst the many types of activities that ex

[2017-11-10 17:05] pzuraq commented on #155
Hey, thanks for bringing this up! This is actually a very common issue with occlusion since we must reuse as much as possible to be performant, which results in us reusing component instances entirely as you noticed.

There are two main solutions for this right now:

1. Set the `shouldRecycle` option to false. This will cause the collection to completely teardown and recreate component instances e

[2017-11-20 07:42] dusanstanojeviccs opened #157 "Focus out not being called on input fields"
Bug: Yes

Version: 1.0.0-beta.9

OS: iOS 11

Browser: Safari

Description:
Table row contains input fields and one field is focused. When the focused input goes outside of the currently shown rows "focus-out" is not triggered.

Repo that demonstrates the issue:
https://github.com/dusanstanojeviccs/ember-vc-issue-no-focus-out

Steps to recreating the issue:
1. Get the repo
2. run "ember s"
3. Go to

[2017-11-20 21:30] pzuraq opened #158 "Fix append positioning behavior for collections with `renderFromLast=true`"
Currently, collections will never fix their scroll position when items are appended. When collections use `renderFromLast=true` and they are scrolled all the way to the bottom, appended items should push scroll top down more. This is the expected behavior for messaging apps and other users of this setting.

[2017-11-21 19:32] pzuraq opened #159 "Cookbook Recipes"
Tracking the list of recipes we need to add to the cookbook to show users ways to use VC in their apps/libraries.

### Performance

- [ ] Proxying for transient state (storing component state for occluded items, like in ember-table)

### A11y

- [ ] Dynamically loading more content in an accessible way (from @melsumner "Replace automatic infinite scrolling with a “Load more results…” button or lin

[2017-11-21 19:49] pzuraq opened #160 "A11y"
Just had a great talk on slack with @melsumner, and I have a much better baseline for how a11y should work in VC, particularly with regards to things like `focus`.

### Examples

* https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html

### Notes

* We were half-right about pagination in general. According to the data-grid example above, we'll actually want to allow users to paginat

[2017-11-22 17:57] pzuraq commented on #157
Thanks for opening this issue! Focus is pretty tricky, I've opened up a separate issue, #160, for what I think needs to happen behavior-wise for us to get this right. I'll probably have time to take this on sometime after the holidays, also glad to help anyone who wants to give it a shot in the meantime!

[2017-11-23 13:34] buschtoens opened #161 ""top level" {{#if}} not allowed"
I know this is a total edge-case, but I can't really work around it, so here goes: It is not possible to use a "top level" `{{#if}}` helper inside a vertical-collection.

[code]

Initially, all is well. But if you scroll a bit and *then* toggle `renderAsParagraph`, you get this error:

[code]

I stumbled upon this bug (?) while working on this PR: https://github.com/offirgolan/ember-light-table/pu

[2017-11-23 13:40] buschtoens commented on #161
My assumption is that Glimmer tries to update / remove parts of the DOM, that already have been destroyed by vertical-collection.

[2017-11-23 15:29] buschtoens opened #162 "Manual scrolling (updating idForFirstItem)"
As far as I can see, it's currently not possible to update `idForFirstItem` after the first render. The docs concur with this assessment.

https://github.com/html-next/vertical-collection/blob/b218268807b620854105ba76496844eb703d1959/addon/components/vertical-collection/component.js#L112-L121

Is this just not implemented yet or intentionally left out? If it was intentionally left out, how would y

[2017-11-23 15:29] simonihmig commented on #161
For the record: seems related to https://github.com/yapplabs/ember-wormhole/issues/66

[2017-11-23 18:15] pzuraq commented on #162
This hasn’t been implemented yet, we’ve been waiting for v1.0 to work on it because the other issues we need to solve are a bit more fundamental (a11y, etc). But we do have a plan.

Scrolling through the collection is an imperative action, you want to tell the collection what to do, or potentially query it for the scrollTop of an item so you can animate the transition to it. This is not really lik

[2017-11-23 18:29] pzuraq commented on #161
Yeah this is most likely due to the bounds of the component that’s being managed being manipulated in some weird way by Glimmer.

However, VC already does dom manipulation at a low level, so if we can figure out what’s going on here I think we can provide a fix 🙂 I’m not going to have time until after the holidays most likely, but if you’d like to give it a shot @buschtoens ping me on slack, can h

[2017-11-23 19:05] runspired commented on #161
I believe the issue relates to us removing our own custom bounds.

[2017-12-19 09:37] hfranken commented on #162
We want to use vertical-collection for implementing a long list of selectable items. However. after manually scrolling the collection, the selected item may be way out of view. The user should be able to select the next (or previous item) with 1 click, so that the new selected item scrolls automatically into view (at the top or bottom, whichever is closest). When do you think this behaviour will b

[2017-12-19 15:24] pzuraq commented on #162
We're hoping to work on it early next year, I'll be needing this API soon too for some of the work I'm planning on doing.

The API would follow the `registerAPI` pattern used by `ember-power-select` and others to yield an imperative API upwards:

[code]

[code]

The two methods this API should have are:

* `offsetForIndex(index: number): number`
* `offsetForId(id: any): number`

Both should return

[2017-12-19 19:14] ming-codes opened #163 "Consider renaming Container to something else"
The name `Container` clashes with Ember's internal injection container. This makes debugging memory leaks more difficult as the heap snapshot does not distinguish between the two.

[2017-12-20 12:04] pzuraq commented on #163
I think that’s a reasonable change, the current name is a little abitrary. Can work on in a few weeks once I’m back from vacation

[2018-01-05 13:37] makepanic opened #166 "Custom key throws if items change too fast"
In an acceptance test i switch from 2 items to 0 which causes items to be empty but there are two scheduled actions `["lastVisibleChanged", 2], ["lastReached", 2]`.

This means it'll call `objectAt([], 2)` being undefined and `keyForItem(undefined, keyPath, index)` (which does `get(undefined, keyPath)` and in turn throws).

See https://github.com/html-next/vertical-collection/blob/b218268807b62085

[2018-01-05 18:22] pzuraq commented on #166
This is probably another instance of the bug caused by timing issues. #147 was a tentative fix, and we're seeing more and more of these issues so I'm going to give it another shot soon.

[2018-01-18 13:03] buschtoens opened #169 "Setting scrollTop breaks Internet Explorer"
Setting `scrollTop` of the scroll container to a value that scrolls the visible rows (completely?) out of view seems to break the radar / scroll detection in Internet Explorer. If the users manually scrolls to the desired position—even via a hard jump by clicking on the scrollbar—it works. But after you set `scrollTop` to a value that is currently fully out of view, even manual scrolling is broken

[2018-01-18 21:05] greenkeeper[bot] opened #172 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-01-19 09:11] buschtoens commented on #169
Okay. So I was able to pin it down. This wasn't really caused by setting `scrollTop`, but—for whatever reason—this greatly increased the possibility of this bug happening. What *actually* caused this, was an unhandled promise rejection in a separate component of a sub route.

Simply catching the promise solved it.

I'll go ahead and close this, since I don't think it's worth the effort to travel d

[2018-01-19 09:11] #169 closed

[2018-01-19 19:16] miketervela commented on #146
Still seeing this in Vertical-collection .9, did the fix get in there? Maybe I have configuration error

[2018-01-21 15:48] greenkeeper[bot] opened #173 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-01-22 00:47] greenkeeper[bot] opened #174 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-01-24 19:26] #172 closed

[2018-01-24 19:26] #173 closed

[2018-01-24 19:26] #174 closed

[2018-01-25 01:58] #163 closed

[2018-01-25 02:01] pzuraq commented on #141
This has effectively been implemented, pooling is now always dynamic but in a performant way (we maintain unused components in memory in case we need to increase the size of the pool again)

[2018-01-25 02:01] #141 closed

[2018-01-25 02:04] pzuraq commented on #146
@miketervela the bugfix should have made it in, is it the exact same issue? Stack trace and everything? If so, can you provide reproduction steps?

[2018-01-25 02:05] pzuraq commented on #118
I'm closing this for now to cleanup the issue tracker. Let us know if you're still having issues setting up mouse events! The goal is to have everything work as if VC didn't exist at all, so they should be bubbling correctly.

[2018-01-25 02:05] #118 closed

[2018-01-25 02:30] ming-codes commented on #163
Awesome! Thanks!

[2018-01-26 16:26] miketervela commented on #146
I actually haven't seen the trace since I posted that so it might have been tied to something else I was doing.

[2018-01-27 00:38] pzuraq commented on #157
@dusanstanojeviccs We've spent a bit more time looking at this recently and it looks like the main issue here is a difference in behavior between Chrome and other browsers. Like you've pointed out, Chrome appears to work fine - when the current active element is removed from the DOM `blur` events fire like normal, but in Safari and Firefox they do not.

This points to the exact behavior around thi

[2018-01-27 01:14] pzuraq commented on #146
Alright, going to close this for now. Please reopen if it pops up again!

[2018-01-27 01:14] #146 closed

[2018-01-27 01:21] pzuraq commented on #166
The fix has been published for this in `v1.0.0-beta.10`! Can you verify that it's working when you get a chance?

[2018-01-29 18:09] makepanic commented on #166
Hey, I've updated to latest vertical-collection and I'm unable to reproduce the issue.

I guess this means the fix in beta.10 solved the issue :D

[2018-01-29 18:10] pzuraq commented on #166
Awesome, thanks for the quick response!

[2018-01-29 18:10] #166 closed

[2018-01-31 18:36] runspired commented on #78
Is this still happening?

[2018-01-31 18:38] runspired commented on #157
If an element is focused we should probably just leave it's item in the DOM

[2018-01-31 18:39] pzuraq commented on #157
@runspired yes, that’s what I was referring to as a more radical approach. Unfortunately I’m not going to have time to work on that soon, it’s a pretty massive shift in how we do things currently, but that’s the best path forward here.

[2018-01-31 18:40] pzuraq commented on #78
I haven’t seen it recently, I think we can close for now

[2018-01-31 18:40] #78 closed

[2018-02-01 20:32] miketervela commented on #146
FYI, I did find the stack trace in an old issue of ours, but still haven't seen repeated in our dev or production since so I won't reopen the bug, just in case it's useful:
Error: Attempted to remove a handler from an unknown element or an element with no handlers
    at ScrollHandler.removeScrollHandler (https://alpha.cloudfastpath.com/cfp/assets/vendor-dd217807975b3e7e0d9299d0d1269f51.js:141180:

[2018-02-06 04:01] dusanstanojeviccs commented on #157
@pzuraq @runspired Hey, thanks for following up on this. I agree that keeping the focused item in the DOM is the best solution. Hmm I am really busy but I might be able to take a look if you could kinda walk me through how it works or how it should be changed.

[2018-02-07 18:37] pzuraq commented on #157
I should have time sometime next week to do a sync and talk you through the overall structure. That change is going to be pretty significant, which is why we were planning on revisiting it after v1.0.0, but definitely happy to walk you through 😄

[2018-02-09 00:40] kturney opened #183 "Delay between last item being reached and lastReached being called"
seems very similar to https://github.com/html-next/vertical-collection/issues/31

modifying https://github.com/html-next/vertical-collection/blob/5029016c6775bc2d59c4fb0090b9f48297affadf/addon/components/vertical-collection/component.js#L169

to

[code]

yields logs
[code]
and
[code]

so a 3ish second delay between detecting the last reached and sending the action

[2018-02-09 00:44] kturney commented on #183
also like https://github.com/html-next/vertical-collection/issues/31 Firefox seems to work fine

logs from same in Firefox
[code]
and
[code]

[2018-02-09 01:21] pzuraq commented on #183
Yeah, the main issue here is Chrome is throttling us when we attempt to schedule in RAF/scroll events, which unfortunately we don't have much control over 😕 we have a few ideas for shifting things up with the way we're scheduling work, I'm planning on trying to experiment with it sometime after EmberConf

[2018-02-12 07:43] bsvipas opened #184 "Assertion Failed: targetValue must be greater than or equal to 0"
Hello, if I use `vertical-collection` with such Array like: `[{ name: 'Benas', id: 1}]` which contains object I get this error: `Assertion Failed: targetValue must be greater than or equal to 0`. I tested and if I only pass `Array` it works perfectly.

[2018-02-12 18:55] pzuraq commented on #184
Can you add the template you're using VC with? The error you're seeing means that an invariant with the SkipList, the dynamic list measurement store, has been violated. For some reason, it's trying to find the item at a negative value - above the scroll container.

This generally means something is wrong with the template or estimateHeight, but lots of bugs can cause this so we'll need more inform

[2018-02-13 23:00] GCheung55 opened #186 "Demo Infinite Scroll buggy on iPhone X Chrome"
Chrome: 64.0.3282.112

Swiping down to scroll up has buggy behavior where the boxes skips from the tens to the hundreds immediately.

The boxes also appear in s shuttery/jittery fashion.

[2018-02-14 20:45] localpcguy commented on #74
@pzuraq I ran into the `TypeError: Unable to get property 'source' of undefined or null reference` and it isn't actually in the VerticalCollection code, but it is being thrown BY the VerticalCollection code (if I remove the VerticalCollection the error disappears). It is in the [`meta` function in Ember's meta.js file](https://github.com/emberjs/ember.js/blob/756ef9f566e025fb0aa89ef85162c86bbd7598

[2018-02-14 20:59] localpcguy commented on #74
Adding the `includePolyfill` also fixed the issue, so I went looking in VerticalCollection, and I think the issue in IE11 might be the use of `.find` in [DynamicRadar (line 246)](https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/dynamic-radar.js#L246). [IE11 doesn't support `.find`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_O

[2018-02-14 21:36] kylemellander opened #187 "TypeError: null is not an object (evaluating 'this.skipList.prepend')"
When using vertical-collection, I often get this error:
[code]

[2018-02-14 21:39] localpcguy commented on #74
Whoops, that my bad for assuming that `.find` was just the array function. Sorry.

Looking around some more, I also saw this which sets `__ember_meta_` to `null` - could that be where the `null` is coming from that errors in the `meta.js` file in Ember?

`this.__ember_meta__ = null;` in [radar.js](https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#

[2018-02-14 21:44] pzuraq commented on #74
ah, that is probably causing the issue. The reason for that is in Ember 1.11 we attempt to freeze the objects to make sure their shape is unchanged for perf, we can only do that in legacy Ember.

[2018-02-14 21:45] pzuraq commented on #187
Are you on the latest version of vertical-collection? beta.10? We merged a fix for this issue recently, strange that it's popping up again

[2018-02-14 21:49] kylemellander commented on #187
I just realized I was not on that! Sorry, I will upgrade

[2018-02-14 21:49] #187 closed

[2018-02-14 21:53] localpcguy commented on #74
Could it do something like the following? If that would work, I can probably do small PR for it if you'd like.

[code]

[2018-02-15 12:42] amk221 opened #188 "`key=` not working as expected"
When specifying `key="@index"`, rows do not seem to be stabilising as expected (perhaps I am expecting the wrong thing?)

Please see this screencast and demo repo for an example:

https://github.com/amk221/-ember-vertical-collection-issue#ember-vertical-collection-issue

Each person has some tags. (Their ids match for the simplicity of the test case).
However, upon scrolling notice how the tag id

[2018-02-15 16:50] pzuraq commented on #188
The issue you're having is caused by the fact that this computed property does not have any dependent keys: https://github.com/amk221/-ember-vertical-collection-issue/blob/master/app/components/person-tags.js#L7

Vertical collection recycles components, which means that you have 8 table rows that are never being fully destroyed or recreated. The computed property won't update unless you change som

[2018-02-15 16:51] amk221 commented on #188
Yes, I thought that would be mentioned. Thought I'd check anyway

[2018-02-15 22:31] runspired commented on #188
Roughly speaking, `key` does the same for `{{each` as it does for `{{vertical-collection`.

In both cases it allows the diff algorithm to determine when an item in the previous state of the list matches an item in the new state of the list.

In the case of `{{each`, this happens to mean that any item that has a stable key from one state to the next state will have a component instance that is stab

[2018-02-15 22:31] #188 closed

[2018-02-15 23:12] amk221 commented on #188
Thanks for the write up.

My use of computed with no dependant keys was intentional (I'm aware it would have been better in `init`). Uusing `key=` with `#each` results in the behaviour I expected (a new component instance, and therefore, the computed property computing again). So I think my point that `key=` doesn't do what I'd expect it to do in VC to be a valid one.

[2018-03-05 18:32] runspired commented on #183
@pzuraq @kturney I spent some time investigating some specialized scheduling guarantees to help us here and have come up with a solution. While at EmberConf I'll try to get some upgraded scheduling landed.

[2018-03-05 18:49] pzuraq commented on #158
@runspired and I ended up discussing for a while the best way to fix this issue. We want to add a few different APIs that would allow users to modify the scroll position either imperatively or by specifying behavior for these situations (like on prepend and on append), and neither of us has really had the time to dig in to figure those out. Hopefully sometime after EmberConf

[2018-03-07 14:11] g-cassie commented on #183
I think we are seeing an issue related to this. It's difficult to recreate because of the asynchrony.  Here's the exception we get:

[code]
The `action` is `firstVisibleChanged`

The situation is this:
- we are displaying `filteredList` in a vertical-collection
- `filteredList` is filtered based on `searchTerm`
- There is a search term input component which throttles the updating of `searchTerm` l

[2018-03-07 18:45] pzuraq commented on #183
Seems like we should be cancelling the actions sent when we reset items, if the state has changed then the actions are invalid anyways

[2018-03-26 19:21] josh803316 opened #197 "Ember upgrade issue (browser passive event handler causes exit loop scheduler problem)"
cc: @pzuraq

(Related Issue)
https://github.com/html-next/ember-raf-scheduler/issues/5

(Ember-Slack Discussion)
https://embercommunity.slack.com/archives/C0ASUJT3M/p1521828395000226

Context:
It seems that when the browser does not support passive event handlers there is an issue with the scheduler and exiting the scheduling loop.

In my specific case the test that started failing after upgrade w

[2018-04-05 22:23] maxwondercorn opened #199 "Missing scrollbars - iel11 and edge"
I don't necessarily know if this is a vertical-collection issue directly but ember-light-table uses vertical-collection for it's occlusion rendering feature.  On IE11 and Edge the scrollbar doesn't show up when occlusion is enabled.

The vertical-collection examples on the demo page work fine on IE11 and Edge.  I have opened an issue on the ELT repo but I'm trying to do a little debugging on my ow

[2018-04-06 05:10] buschtoens commented on #199
I would _assume_, that this is an issue with ELT, but I don't have access to an IE11 browser right now to verify this. I'll try to get my hands on a Windows machine today.

Referencing https://github.com/offirgolan/ember-light-table/issues/553

[2018-04-19 16:02] sly7-7 opened #203 "Wrong last visible item index"
as discussed on slack:

![capture d ecran 2018-04-19 a 09 23 18](https://user-images.githubusercontent.com/1826661/39003735-c6b08cc8-43fb-11e8-9445-28abf3af2875.png)

The number of "displayable" messages in the container div is actually 15, but at first here, before scrolling the lastVisibleIndex should be 6 (or 7)
It looks like the offset of the collection in the container is not taken in account

[2018-04-24 19:26] Luiz-N commented on #162
+1 This would be great!

[2018-04-25 17:30] ming-codes opened #204 "Feature Request: Move 2 items at a time."
Either as default or as a configurable option.

A common pattern in table is striped rows. Striped rows are commonly implemented as `:nth-child(odd)` selector. Currently, vertical-collection moves 1 item at a time. When this happens, the row strips shifts, creating a bad experience.

The current workaround is to precompute the even/odd rows and attach additional class on the row to preserve the st

[2018-04-25 17:44] buschtoens commented on #204
If possible and not overly / unnecessarily complicated, adding the ability to group updates in batches of variable size (not only one and two, but `n`) might be even better.

[2018-04-25 21:09] runspired commented on #204
You don't need to pre-compute if you use `index` to do it, although I generally agree that using `:nth-child(odd)` is nice.

[2018-05-07 08:28] panthony commented on #184
I just encountered the same issue.

I'm using vertical-collection to display a filterable list of items, If the filter results in 0 items then this error is triggered.

It goes away if I add `staticHeight=true` unfortunately for some reason at initial render it does not render the last row that would be partially visible which gives the feeling that this is the end when it's not.

[2018-05-21 17:20] pzuraq commented on #184
@panthony are you still rendering items? VC shouldn't have issues with no items, but it has had issues with items that are 0 height.

[2018-05-22 05:57] panthony commented on #184
@pzuraq Not sure I'm following what you mean by "still rendering items" in the context where there are no items to render due to being filtered out.

The following didn't work for me:

[code]

Maybe passing an empty array trigger the same error as when one of the item as a height of 0?

[2018-05-22 15:49] pzuraq commented on #184
We've had users before who said they were filtering items, but were doing something like:

[code]

Which resulted in a bunch of "hidden" items. VC doesn't expect this, and should be able to handle it but doesn't in some cases at the moment.

We currently use VC with empty arrays, so I'm wondering if something else is going on here.

[2018-05-23 07:27] panthony commented on #184
@pzuraq Tried to reproduce the issue to give more details but I couldn't.... Not sure what failed the first time...

I'll put this in my cosmicray box. Sorry for wasting your time :)

[2018-05-26 04:13] maxwondercorn commented on #199
I finally got around to digging into this problem and found

`-ms-overflow-style: none;`

buried in one of my sass stylesheets.  This has no affect on non-occluded tables in IE and Edge but defintelty breaks occluded tables. I have not checked this against a vertical-collection to see if it breaks anything

[2018-06-03 18:40] josiahbryan opened #208 "Error: Assertion Failed: index must be within bounds"
[code]
The `vendor.js` mentioned in stacktrace above is attached here: [vendor.js.gz](https://github.com/html-next/vertical-collection/files/2066245/vendor.js.gz)

I've worked around it by patching `skip-list.js` to remove the offending `assert()` and instead do:
[code]

However, since I don't understand the internals of the project, I have NO idea if that will even solve the problem - all I know

[2018-06-03 18:50] pzuraq commented on #208
This is fundamentally caused by some inconsistency between reality (the number of items actually rendered) and our backing datastore. Removing the assertion may prevent failure, but won’t fix the underlying problem.

The SkipList is a datastructure that stores the measured heights of all of the items in the collection. So, when you attempt to set an index which does not exist (outside of the max l

[2018-06-03 18:54] josiahbryan commented on #208
I totally understand the torture of spaghetti internals - dealt with that in my own projects. No worries.

In the short term, I'm content to avoid failure - the last thing I want is the UI to suddenly become unresponsive because the assert is thrown. Ember just crashes entirely when an assert hits, so it seems, so that's the main issue to me - preventing total meltdown of the UI.

As far as WHY th

[2018-06-03 19:05] pzuraq commented on #208
Ember crashes when asserts are thrown, but asserts are completely stripped out of production builds (along with lots of other code!) so your users shouldn’t experience any issues if you don’t experience then without the assert. They’re there for catching failures early, kind of like inline unit tests 😄

Definitely could use help figuring out what’s wrong. I’d start by putting a breakpoint at that

[2018-06-13 00:52] pzuraq commented on #199
This seems to be a styling issue unrelated to VC. The `-ms-overflow-style` property styles scrollbars, so it's likely hiding the scrollbar in those browsers.

[2018-06-13 00:52] #199 closed

[2018-06-25 10:51] NullVoxPopuli commented on #158
is the scrolling for this totally controlled by js? or can we use the default / css way of auto-scrolling to the end?

I have a messaging app, and recently just added vertical-collection, and I lost the auto-scroll-to-end ness that my css was providing :-\

[2018-06-25 12:56] NullVoxPopuli opened #212 "Autoscroll to bottom?"
This is kind of a question / feature request? maybe?

anywho, I have a messaging app, and when the app loads, I would like to be able to scroll to the bottom of the chat.

 I'm using `renderFromLast=true`, and I know there is this issue: https://github.com/html-next/vertical-collection/issues/158

I have this in my component:
[code]
but it seems to not always work with vertical-collection.
Is this

[2018-06-25 14:18] pzuraq commented on #158
Scrolling is actually completely _not_ controlled by JS, VC just reacts to user scroll. That said, if you have dynamic height items I could see it interfering, or if you’re adding items dynamically.

[2018-06-25 14:22] pzuraq commented on #212
Yup, this would also be covered by the fix to #158. We need a generic way to imperatively tell VC to scroll, the main issue being that it’s impossible for anything but VC to accurately react to dynamic heights.

It’s hard to say what’s happening in your case, but if your item heights are dynamic, it’s very likely that VC renders occluded content for it’s predicted item height (say 100px), then you

[2018-06-25 14:34] NullVoxPopuli commented on #212
hmm. cool.
I'll do some more investigation tonight to figure out what the specific issue is.

[2018-07-08 07:22] erichonkanen opened #214 "Scroll not working properly in firefox (latest)"
Opening issue so we can track it,

In firefox (Im on 61.0.1), when scrolling up in a VC such as below, the scroll movement instantly stops and the user must reinitiate the scroll. This leads to a "jumpy" or jagged scroll behavior that breaks the user experience. Seems to also happen on ios.
[code]

Ember: 3.0.0
Vertical-Collection: `master branch`
FireFox: 61.0.1

[2018-07-08 16:57] pzuraq commented on #214
We've opened up a bug report with Firefox about this behavior, since it seems to be non-standard: https://bugzilla.mozilla.org/show_bug.cgi?id=1474196

[2018-07-08 17:16] pzuraq commented on #186
We've opened up a bug report with Webkit about this behavior. It appears that setting `scrollTop` in mobile Webkit based browsers is completely ignored during the momentum scroll phase. This is also an issue with mobile Firefox and Edge.

https://bugs.webkit.org/show_bug.cgi?id=187449

[2018-07-16 12:08] danielspaniel commented on #184
This is definitely an issue.  It comes up when there is no computable height on a "row" that VC is iterating on.
 So if staticHeight=true that fixes it because there needs no computation of height.  The strange thing is that VC can't calculate a height on a component that has a plain div with no style wrapping it.
 That seems like the bug.

 VC thinks the height of <div>blah</div> is -> 0  but it

[2018-07-16 16:44] pzuraq commented on #184
@danielspaniel can you post a reproduction? VC actually measures the elements themselves, so if the item has any height (manually applied or not) it should be measured correctly. We've also been making changes to support zero-height items in general as possible, any examples we have that trigger this bug would really help out.

[2018-07-17 15:41] danielspaniel commented on #184
Hi Chris, I tried to make a twiddle but that does not accept vertical collection as an addon .. oh well.

 The simple way to reproduce it is to do this:

[code]

products could be an array of whatever, and the my-product component is just a component with no style ( but it does get wrapped with <div class="ember-view">

 That should hopefully blow things up nicely for you

[2018-07-17 18:27] pzuraq opened #219 "Screen readers skip around when scrolling"
Based on feedback we've received, we've learned that screen readers will push page content down as they change the active element, and that they begin to skip around after a certain amount of time. This is problematic for a11y, and we should figure out a way to prevent skipping while scrolling.

[2018-07-17 18:33] pzuraq commented on #219
I was unable to reproduce this with VoiceOver in OSX, will continue trying with other screen readers and browsers.

[2018-07-17 18:36] pzuraq commented on #219
cc @jcorradino can you reproduce this on the example in the demo website with any particular browser/screen reader combinations? Will have to get a windows machine going to test Edge/IE

https://html-next.github.io/vertical-collection/#/examples/infinite-scroll

[2018-07-17 19:12] jcorradino commented on #219
NVDA (Screen Reader) has two modes when navigating a website: browse mode (navigating the page) and focus mode (interacting with "focusable" elements) - most of the time, you would use browse mode, as it flattens the DOM structure into a screen-reader-usable format.  Hitting the down arrow will read out the next DOM element, the right arrow will read out an individual letter in that DOM element, t

[2018-07-17 19:20] jcorradino commented on #219
Side note: chatting with @melsumner, I was correct in my comments earlier about A11Y testing tending to be a pretty substantial amount of hands-on work.  While we can try to implement keyboard navigation tests, it would be incredibly difficult to capture all of them.

[2018-07-17 20:50] josiahbryan opened #220 "isForFirstItem has no effect / broken"
`renderFromLast` / `idForFirstItem` seem to have no effect - I'm recording the last visible ID in the `lastVisiblechanged` handler (I see the output in console), and I set `lastVisibleId` in my controller before `filteredQueryResults` is available, yet the list still starts at the top (very first index), even though I scrolled down the page below the top. Am I missing something obvious here? (The

[2018-07-17 20:53] pzuraq commented on #220
You shouldn’t need to do both. VC will currently do one full render before it goes all the way to the bottom so it’s possible that by reading the lastVisibleId and setting it as the idForFirstItem, you are forcing it back to the top.

[2018-07-17 20:57] josiahbryan commented on #220
@pzuraq Good point - actually, the `lastVisibleChanged` action **just** stores it in `localStorage`:

[code]

It never actually touches the `lastVisibleId` property on the controller from that action handler - the `lastVisibleId` is **only** set in **one** place in code - it's the part that makes the initial ajax call to load data. It loads that id from local storage, and I can confirm it only doe

[2018-07-17 21:00] pzuraq commented on #220
Interesting, so are you trying to have it scroll to that item as the last visible one? That should be how it works if so. Will try to take a look when I get a chance

[2018-07-17 21:02] josiahbryan commented on #220
@pzuraq yes, exactly - I simply want it to show the item given in my `lastVisibleId` as the last one in the page when it renders the list initially - even if that item is in the next "page" of data (e.g. it may only be present in the item set after `lastReached` is called and the server returns more data.)

Let me know if this is a glitch or if my use case is not supported. If my use case isn't su

[2018-08-08 04:28] josiahbryan commented on #212
Any luck on this? I'm working on the exact same thing - messaging app and needing to scroll to bottom.

[2018-08-08 04:28] josiahbryan commented on #158
Any luck on this? I'm working on the exact same thing - messaging app and needing to scroll to bottom.

[2018-08-26 13:21] BryanCrotaz opened #225 "error: Assertion Failed: scrollContainer must be set on Radar before scheduling an update"
This cryptic error happens if the `containerSelector` is not present in the DOM. A more informative error message would be useful.

[2018-08-30 16:37] amk221 opened #227 "IE11 issues"
There are a couple of oddities here, reported by users of our app

1. When selecting text, the occluded-content element shows up.
2. The counts are wrong (In the below screenshot, only 9 are visible, but there should be 10)
    so one is being occluded unncessarily

![screen shot 2018-08-30 at 17 35 58](https://user-images.githubusercontent.com/382061/44865784-32522800-ac7b-11e8-87e9-1279a89fa570.

[2018-08-30 18:33] amk221 commented on #227
I did a quick sanity check in a fresh ember app, with the following code:

[code]

And it worked with Ember 2.12.2 and vertical collection 1.0.0-beta.7 as per the demo site.
But, it didn't work after bumping Ember to 3x.

Continuing to debug...

[2018-08-30 18:52] amk221 commented on #227
It seems to be something with `tagName="tbody"`

[2018-09-12 21:19] jeffhertzler opened #229 "Support ember-cli-babel 7"
When trying to use with `ember-cli-babel` `7.*` I see the following build error:

[code]

[2018-09-14 19:10] greenkeeper[bot] opened #230 "An in-range update of ember-data is breaking the build 🚨"
## The devDependency [ember-data](https://github.com/emberjs/data) was updated from `3.4.0` to `3.4.1`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-data-3.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-data is a devDependency of this

[2018-09-24 17:36] ming-codes commented on #120
Is this just a matter of getting everything on the same scheduler?

[2018-09-24 21:32] EWhite613 opened #231 "Can't reliably test `vertical-collection` due to scheduling of updates"
When testing `vertical-collection` with scenarios where the `items` passed are updated, a user can't reliably test the updated item. Since scheduled task to update the item in the virtual component isn't tied to `'ember-test-helpers`'s `wait`.

It gets to https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#L229 but the `wait` will not wait for `upda

[2018-09-24 21:34] pzuraq commented on #231
Make sure you register the test waiter: https://github.com/html-next/vertical-collection/blob/master/tests/test-helper.js#L2

[2018-09-24 21:54] EWhite613 commented on #231
Well, that works. That should probably be documented somewhere

[2018-09-24 21:56] pzuraq commented on #231
Documentation is the top item remaining on the [v1.0.0 roadmap](https://github.com/html-next/vertical-collection/issues/1)! Unfortunately I don't have time to push it forward at the moment, but PRs are definitely welcome

[2018-09-27 17:46] #231 closed

[2018-10-02 23:24] greenkeeper[bot] opened #235 "An in-range update of ember-compatibility-helpers is breaking the build 🚨"
## The dependency [ember-compatibility-helpers](https://github.com/pzuraq/ember-compatibility-helpers) was updated from `1.0.2` to `1.1.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-compatibility-helpers-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the bu

[2018-10-08 08:28] Jamesiebondco commented on #184
I also ran into this issue.
Seems to be that if the {{my-product}} component has any styling that has position set. position: relative for example. That issue will occur.

[2018-10-15 14:51] fpauser opened #237 "Add possibility to store/restore scrollPosition"
It would be great to have the ability to store & restore the current scroll position.

[2018-10-15 17:03] brandontksmith commented on #227
It appears this is happening in Edge too...

[2018-10-16 07:29] fpauser commented on #162
Any updates on this?

[2018-10-16 15:15] pzuraq commented on #162
I haven’t had time recently to work on this library unfortunately, so haven’t had a chance to implement this. Planning on coming back around to it at some point in the future, once some of my other obligations are fulfilled

[2018-10-19 14:53] fpauser commented on #237
The only solution I came up with is "flickering", because the containers scrollTop can only be set after the list was rendered. Better than nothing, but...

[code]

[2018-10-24 23:55] robgraeber commented on #227
FWIW it works fine for me with Ember 3.3, maybe it's related to using it with tables.

[2018-10-25 19:07] brandontksmith commented on #227
I'm running on Ember 3.4.x, but I am using it with tables.

[2018-10-29 15:49] pzuraq commented on #237
Extending the `VerticalCollection` component is a very bad idea, it breaks encapsulation. I don'

[2018-10-29 16:12] pzuraq commented on #227
Just wantod to say that this definitely appears to be a real issue, but I unfortunately haven't had time to dive in and figure it out. Hopefully will have some time in the coming months, currently all my focus has been on the native class story in Ember and Ember Octane in general.

VC is still on my radar, and I plan to come back to it as soon as I have some time.

[2018-11-06 15:40] greenkeeper[bot] opened #239 "An in-range update of ember-cli-github-pages is breaking the build 🚨"
## The devDependency [ember-cli-github-pages](https://github.com/poetic/ember-cli-github-pages) was updated from `0.2.0` to `0.2.1`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-cli-github-pages-0.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2018-11-09 18:56] greenkeeper[bot] opened #242 "An in-range update of eslint-plugin-ember is breaking the build 🚨"
## The devDependency [eslint-plugin-ember](https://github.com/ember-cli/eslint-plugin-ember) was updated from `5.3.0` to `5.4.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Feslint-plugin-ember-5.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

esl

[2018-11-12 10:11] fpauser opened #243 "Use of deprecated `sendAction()`"
This warning pops up when using vertical-collection:

DEPRECATION: You called sendAction("lastVisibleChanged") but Component#sendAction is deprecated. Please use closure actions instead. [deprecation id: ember-component.send-action] See https://emberjs.com/deprecations/v3.x#toc_ember-component-send-action for more details.

Env:
[code]

Using 1.0.0-beta.12 of html-next/vertical-collection.

[2018-11-12 10:35] fpauser commented on #243
Fixed by #244.

[2018-11-14 13:16] buschtoens opened #245 "Learn from <virtual-scoller>"
I just stumbled upon [`<virtual-scoller>`](https://github.com/valdrinkoshi/virtual-scroller). Maybe there are some ideas we can ~~steal~~ _improve upon_. 😄

[2018-11-14 15:08] pzuraq commented on #245
Yeah absolutely, I did some research back when I first started working on this, but will definitely do it again once we start work on v2 😄

[2018-11-15 05:20] miketervela commented on #227
When you only get two rows rendered, does forcing a redraw - for instance, by changing the size of the browser - get you the other visible rows?  We found  making sure every div had a height from table to app-body fixed that

[2018-11-16 20:20] pzuraq commented on #245
I took a look at this again today, didn't realize the first time that this was an actual spec! Definitely think that this being a built in primitive in HTML is the best possible place to handle this type of thing, there are just things we can do there that we won't be able to do in Javascript. 100% behind this proposal.

[2018-11-16 21:40] runspired commented on #245
@pzuraq it's not a spec and it's not as far along as vertical-collection in many ways, makes design choices that are regrettable. Does have involvement from a few folks that occasionally do spec work though so perhaps they are hoping to learn enough to implement one: but given the limited nature of their case studies and the past history of bad specs many of them have proposed I'm skeptical.

[2018-11-18 23:03] onceatime opened #247 "Error: Assertion Failed: value must non-negative"
when using vertical-collection within a div that has column-count > 1 style property the scroller fails with this error:

Error: Assertion Failed: value must non-negative

controller:
[code]

hbs:
[code]

[2018-11-28 10:57] oskarrough commented on #231
Hi, is this fix also meant for apps using the addon?

[code]

I'm testing a component using {{vertical-collection}} and the items aren't reliable there in the DOM at the time of the assertion. Is there a way to wait for vertical-collection to render in a test?

[2019-01-10 00:16] dwickern commented on #184
I get this error when I place a `vertical-collection` inside another one.
[code]

Reproduction here
https://github.com/dwickern/nested-vertical-collection-repro

I suspect it's treating the hidden element as a 0-height div rather than using the actual height if the item were in the viewport.

[2019-01-11 09:22] oskarrough commented on #247
Also seeing this. When it happens, the whole app crashes and you can't click any link-to's etc.

[2019-01-30 03:32] nolman commented on #1
I'm curious what the table quirks are @runspired

I'm seeing some odd jiggle/resize behavior with ember table's tables that I believe is caused by the <occluded-content> element that vertical collection creates.

[2019-02-08 11:15] njoyard opened #251 "Inconsistent behaviour with async in tests"
Test scenario:

* Register the ember-raf-scheduler waiter in `tests/test-helper.js`
* Use the following test:

[code]

Running this test repeatedly fails randomly. As I understand it, registering the waiter should be enough that awaiting for `settled()` (or other ember async helpers) ensures that vertical-collection updates are finished. But maybe I am wrong?

May be related to #231 ?

[2019-02-18 12:30] HenryVonfire commented on #26
I'm having the same error with `1.0.0-beta.13` while trying to change the collection of items while filtering them @pzuraq @runspired

Is `vertical-collection` meant to work only with non-mutable collections?

[2019-03-10 21:31] billdami opened #252 "staticHeight=true renders no items when direct parent is not the scrollable container"
(I'm still working on getting an ember-twiddle up to demonstrate this, but ember-twiddle currently seems to not want to allow the `@html-next/vertical-collection` to be installed...)

Essentially, when the `staticHeight=true` argument is set, and the `{{vertical-collection}}` is in a scrollable element (not `<body>`), but is NOT a direct child of the scrollable element (for example, is nested in a

[2019-03-13 18:16] #214 closed

[2019-04-09 09:54] adrigzr opened #254 "Scrolling up with dynamic content on iOS"
Scrolling up with dynamic content on iOS is not working properly.

It can be tested on demo page: https://html-next.github.io/vertical-collection/#/examples/flexible-layout

As you can see, when you scroll up, the viewport glitches and moves elements around.

[2019-04-09 17:17] pzuraq commented on #254
Unfortunately I haven't had time to work on this library recently, and am unsure when I will 😕 However, I do have some ideas for a restructure that will simplify the code a lot. Basically, take advantage of [scroll-anchoring](https://developers.google.com/web/updates/2016/04/scroll-anchoring) which is now rolling out (could be the cause of this bug actually) in browsers as standard. I also think t

[2019-04-25 13:20] andrewfan commented on #197
@josh803316 Hey, Josh, did you find a workaround?

[2019-04-25 13:50] andrewfan commented on #197
@josh803316 my error happened because inside my component I manually called radar.start() (which added new scroll handler) and did not call radar.destroy()
so once the next test stated there was an existing handler for the element and the polling started
https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/utils/scroll-handler.js#L53

[2019-04-25 14:08] josh803316 commented on #197
@andrewfan I moved off Ember projects when I changed companies so I never resolved this and not sure if it was resolved by others. Sorry I can't be more help.

[2019-05-15 13:32] efx opened #260 "refactor treeForAddon for embroider compatibility"
As a user of vertical-collection, I would like to avoid using a workaround when building my application with [embroider](https://github.com/embroider-build/embroider).

See @ef4's helpful analysis and workaround here:
https://github.com/embroider-build/embroider/issues/169#issuecomment-491953938

[2019-05-15 20:40] greenkeeper[bot] opened #262 "An in-range update of ember-try is breaking the build 🚨"
## The devDependency [ember-try](https://github.com/ember-cli/ember-try) was updated from `1.1.0` to `1.2.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-try-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-try is a devDependency of t

[2019-05-16 15:49] greenkeeper[bot] opened #264 "An in-range update of ember-source-channel-url is breaking the build 🚨"
## The devDependency [ember-source-channel-url](https://github.com/rwjblue/ember-source-channel-url) was updated from `1.1.0` to `1.2.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-source-channel-url-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2019-05-22 18:40] greenkeeper[bot] opened #265 "An in-range update of ember-cli-dependency-checker is breaking the build 🚨"
## The devDependency [ember-cli-dependency-checker](https://github.com/quaertym/ember-cli-dependency-checker) was updated from `3.1.0` to `3.2.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-cli-dependency-checker-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project

[2019-05-28 05:39] GnanaAjana opened #266 "Scrollto element is not working while using vertical collection in power select option"
I am using the vertical collection for power select. I am doing scrollTo action to highlight an option and scroll down key action.

Issue:
While triggering scrollTo, vertical collection DOM options are not loaded. So I can't able to scrollTo the highlighted option. After execution of scrollTo of power-select, vertical collection options are loaded...

Is there any other way to resolve this.

Versi

[2019-05-28 20:38] greenkeeper[bot] opened #267 "An in-range update of ember-cli-fastboot is breaking the build 🚨"
## The devDependency [ember-cli-fastboot](https://github.com/ember-fastboot/ember-cli-fastboot) was updated from `2.0.4` to `2.1.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-cli-fastboot-2.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-05-30 09:09] herzzanu commented on #266
We're doing something similar. The solution we came up with is to check if the element we want to scroll to is already rendered/loaded. If not, we render it and calculate the scrollTop position of that element. Hope it makes sense.

[2019-05-30 16:26] GnanaAjana commented on #266
@herzzanu Thanks.
Issue is resolved. I tried to set a scrollTop position after the vertical collection option is rendered using setTimeout.

[2019-05-30 22:13] herzzanu commented on #266
Nice. To make it nicer you can use an ember concurrency task and use `timeout`. Then you can use the task states for different behaviors like disabling some controls or showing placeholders for example ;)

[2019-05-31 12:57] v3ss0n commented on #1
how is this project going? Development stopped?

[2019-05-31 17:22] pzuraq commented on #1
At the moment, yes. @runspired and I are both very busy working on Ember/Ember Data, so we don't really have time to work on this 😕

The reality is though that the current version of this addon will likely ship as v1.0.0, there isn't much more we _can_ do to make this better for older versions of Ember, aside from fixing a few outstanding bugs and adding documentation. We have some ideas for how w

[2019-06-03 23:10] akondo06 opened #268 "Feature Request: grid / horizontal view ?"
Any chance of getting something similar to
https://bvaughn.github.io/react-virtualized/#/components/Grid ?

Or maybe horizontal scroll support? ( I do realize "vertical" is in the name ;) )
I have tried nesting two collections (100 row by 300 columns) and seems to almost work.

I will probably give it a shot myself in the following weeks, but would like to know if anyone went that path already.

-

[2019-06-03 23:56] pzuraq commented on #268
Our plan was to begin working on a horizontal collection, and then a grid collection, when we had time. Unfortunately, both @runspired and I joined the Ember core teams and have since run out of time to work on this project 😅

I do want to come back to it when I have time, I just really don't know when that'll be. Happy to help guide new feature work and contributions, feel free to ping me on Disc

[2019-06-04 12:00] GnanaAjana opened #270 "Assertion Failed: You called estimateElement height without a fallbackHeight"
I am using the vertical collection for power select.

Issue:
In power-select option group, items are loaded on the scroll. On speed scroll am getting an error as

list item will have sub-list items. In those cases, previous li element will not be there. So getting this error.

Is there any other way to resolve this.

Version:
"ember-cli": "2.12.3",
"@html-next/vertical-collection": "1.0.0-beta.12"

[2019-06-04 17:18] akondo06 commented on #268
I will give it a shot soon then.
Hopefully I'll get back with a PR.

From my digging, my guess on what is needed for a horizontal version is to using `scrollLeft` instead of `scrollTop` and `width` instead of `height`.

Also, I noticed `initialRenderCount` .. but it is not documented. Any reason for that?

[2019-06-04 17:41] pzuraq commented on #268
I believe it _should_ be documented, that may be a mistake on our part. The docs were the last thing we needed to finish up for the v1 release.

Yes, for the most part the idea was that you should be able to sub-out `scrollLeft` with `scrollTop` and things should Just Work™️. I think we mainly just didn't get around to it.

A couple of other things to note:

* For `grid-collection`, the _most_ ide

[2019-06-04 23:08] akondo06 commented on #268
Just the horizontal (new example added to the docs):
https://github.com/akondo06/vertical-collection/tree/feature/horizontal

It works i guess? I didn't bother changing the variable names where I didn't had to :)

Thoughts?

I will give some thought on the `grid-collection` but I guess it makes sense to have some limits such as a fixed row height.

In my particular case, the rows have a fixed heig

[2019-06-05 11:03] akondo06 commented on #268
someone went a bit further than me ... :)
https://github.com/html-next/vertical-collection/pull/269/files

[2019-06-28 20:06] greenkeeper[bot] opened #273 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
## The dependency [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) was updated from `3.0.1` to `3.1.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-cli-htmlbars-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-cli

[2019-07-10 21:27] #235 closed

[2019-07-10 21:27] #239 closed

[2019-07-10 21:27] #242 closed

[2019-07-10 21:27] #262 closed

[2019-07-10 21:27] #264 closed

[2019-07-10 21:27] #265 closed

[2019-07-10 21:27] #267 closed

[2019-07-10 21:27] #273 closed

[2019-07-11 10:57] rwwagner90 commented on #243
Fixed by #233

[2019-07-11 10:57] #243 closed

[2019-07-15 21:26] greenkeeper[bot] opened #275 "An in-range update of ember-cli-fastboot is breaking the build 🚨"
## The devDependency [ember-cli-fastboot](https://github.com/ember-fastboot/ember-cli-fastboot) was updated from `2.1.1` to `2.1.2`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-cli-fastboot-2.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-07-19 04:10] artikhurana commented on #227
I'm facing the same issue on IE. Is there any fix provided for this issue?

[2019-07-30 19:08] JonAtOlo opened #278 "A11Y: Lists must contain only <li> elements"
The <occluded-content> tag is being added to the <ul> content and throwing an AXE A11Y validation exception

[2019-08-01 17:05] greenkeeper[bot] opened #279 "An in-range update of ember-resolver is breaking the build 🚨"
## The devDependency [ember-resolver](https://github.com/ember-cli/ember-resolver) was updated from `5.1.3` to `5.2.0`.

🚨 [View failing branch](https://github.com/html-next/vertical-collection/compare/master...html-next:greenkeeper%2Fember-resolver-5.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-resolver is

[2019-08-04 20:19] #230 closed

[2019-08-04 20:19] #275 closed

[2019-08-04 20:19] #279 closed

[2019-08-04 23:34] #197 closed

[2019-08-04 23:35] rwwagner90 commented on #197
Since this is old, and @josh803316 is not sure of the details, I am closing for now. Please open another issue if you are still having problems!

[2019-08-04 23:37] rwwagner90 commented on #161
Does anyone have further insight into this issue or should we close as `wontfix`?

[2019-08-06 01:40] erichonkanen opened #284 "[BETA.14] "Must provide estimateHeight value" when using angle bracket invocation"
When using angle bracket invocation I am receiving an error saying "Must provide estimateHeight value" despite having provided it.
[code]
[code]
![image](https://user-images.githubusercontent.com/230757/62505201-6fd70380-b7b0-11e9-9b11-fb3e7d9feb5e.png)

Changing back to curly brackets resolves the problem.

[2019-08-06 12:17] scottkidder commented on #284
@erichonkanen You need to prepend your component arguments with `@` because without it they are being passed as attributes. I'm working through this stuff right now too.

https://guides.emberjs.com/release/reference/#toc_angle-bracket-syntax

[2019-08-07 02:42] erichonkanen commented on #284
duh that was it! :D thanks

[2019-08-07 02:42] #284 closed

[2019-08-14 17:16] #229 closed

[2019-08-15 15:56] erichonkanen commented on #268
@akondo06 @pzuraq who is handling peer reviews right now? https://github.com/html-next/vertical-collection/pull/269/? Came here looking to see if a grid display is supported as we use this in an app where now a secondary grid display is requested :)

[2019-08-15 15:59] erichonkanen commented on #268
https://bvaughn.github.io/react-virtualized/#/components/List really solid
https://akryum.github.io/vue-virtual-scroller/#/

[2019-08-15 16:06] erichonkanen commented on #268
also I may have my concept of "grid" slightly off as the react site depicts grid as "tabular" data, whereas we're looking to display multiple items per row
![image](https://user-images.githubusercontent.com/230757/63108517-eeb00700-bf3b-11e9-9bea-dfa7b3f0ccc3.png)

[2019-08-15 16:09] pzuraq commented on #268
Unfortunately @runspired and I haven't had time to support feature development on this library, and I don't feel comfortable with merging new features with the current state of things. I think the rough plan for this library is:

1. Publish a v2 which removes support for Ember v1 and all but the last Ember v2 versions.
2. Clean up the codebase, get the library into a more stable position.
3. This

[2019-08-16 09:44] amk221 opened #288 "Changelog"
I'm the process of upgrading my addons. `yarn outdated` suggests I can upgrade vertical-collection from `1.0.0-beta.13` to `1.0.0`

But there are no details in the changelog or on the releases page.

Would be great to get some details, ty!

[2019-08-16 12:28] rwwagner90 commented on #288
@amk221 not really any changes, just shipping what you were using in the betas as a major version

[2019-08-16 12:33] amk221 commented on #288
Ok, thank you! I figured that would be all. (Still nice to have the go-to places have the up to date info)

[2019-08-16 12:33] #288 closed

[2019-08-16 12:53] rwwagner90 commented on #288
Totally agree. We need to start generating changelogs with each release.

[2019-08-19 16:35] fran-worley opened #290 "TypeError: Class constructor Promise cannot be invoked without 'new'"
Noticed this is causing our beta builds to fail in Ember Light Table and have traced it back to here as you've got the same failures error https://travis-ci.org/html-next/vertical-collection/jobs/572854662

Any ideas where it's coming from?

[2019-08-19 16:38] rwwagner90 commented on #290
@fran-worley lots of things are broken because of this right now. It was a bug in Ember, which has been fixed but not released yet. https://github.com/emberjs/ember.js/pull/18281

[2019-08-19 16:38] #290 closed

[2019-08-20 09:39] akondo06 commented on #268
@erichonkanen you might get away with some flex-box and a bit of buffer as long as you know how many per row.

[2019-08-20 17:54] erichonkanen commented on #268
@akondo06 ok good idea, will try thanks!

[2019-09-05 13:33] ahamedalthaf opened #296 "shouldRecycle=false breaks UI when scrolling the elements fast."
'shouldRecycle: false' is breaking the UI when we try to scroll faster. This breaks the UI and completely block the user from doing any activity.

Please find the error below in the browser console.

**Assertion Failed: value must non-negative**

[2019-09-05 14:29] rwwagner90 commented on #296
@ahamedalthaf can you try the latest version please?

[2019-09-05 15:11] ahamedalthaf commented on #296
@rwwagner90 tried with latest version and still seeing the same issue.

[2019-09-07 02:21] NullVoxPopuli commented on #296
I'm experiencing this on emberclear, too :(

[2019-09-21 17:48] ahamedalthaf commented on #296
@rwwagner90 I have fixed this issue in the PR raised. Please check from your side.

[2019-09-21 19:02] rwwagner90 commented on #296
Thanks @ahamedalthaf!

[2019-10-03 06:48] erichonkanen commented on #268
@akondo06 any idea what that might look like w/flex? couldn't quite get it using flex, started tinkering w/grid but not clear what that looks like!

[2019-10-04 11:25] akondo06 commented on #268
Here's a somewhat working version:
https://github.com/akondo06/vertical-collection/commit/9420d5f5a5d5c0d81eb05bdd4e6f5aa164324b0c

The `staticHeight` prop must be `false`.
There seems to be a problem with the index, that's why it jumps down to `bufferSize * 2`.
I am not sure about the cause of it.

if that does not suit your needs, you can group the dataset and then render the groups as rows.

[2019-10-11 10:06] ahamedalthaf commented on #162
@pzuraq Can you please check if this works.

[2019-10-11 16:41] pzuraq commented on #162
Unfortunately I don't have bandwidth at the moment to work on this library, I'm unsure when I will 😩  it is something I do plan on coming back to, particularly once we're about to land some optimizations upstream in Glimmer which, ideally, will allow us to do even more performant work.

I'll try to find some time in the next few quarters to see if I can do some maintenance work. I have a few major

[2019-10-11 18:23] pzuraq commented on #162
@ahamedalthaf I actually was able to look at that PR and I think it's small enough that we can merge it, if we can get tests passing and add a test for it. Thanks for taking this on!

[2019-10-15 10:25] ahamedalthaf commented on #162
@pzuraq Thanks

[2019-10-25 13:37] frykten opened #303 "Uncaught TypeError: Unable to get property 'source' of undefined or null reference"
Heya!

We've been trying to implement an addon using vertical-collection and on IE11, we found errors coming from vertical-collection `TypeError: Unable to get property 'source' of undefined or null reference`. We're not even really sure where it might be coming from unfortunately (we saw that issue #74 , which commit/possible-solution was trashed afterwards).

If we `'ember-cli-babel': { includeP

[2019-10-31 22:43] pzuraq commented on #303
So, unfortunately it's not really possible to only include the features that you use with Babel right now. This will become possible soon via Embroider/bundling, but that's not available just yet.

Luckily there's a solution that doesn't require you to ship the entire polyfill for _every_ user: https://github.com/pzuraq/ember-cli-babel-polyfills. This addon only includes the polyfill in legacy bro

[2019-11-04 23:30] NullVoxPopuli opened #304 "With just one item, the list repeatedly re-renders at some interval."
I noticed this with a custom modifier I wrote using ember-modifier/ember-modifier.

I put a console.log on the `didInstall` hook of teh modifier, and put the modifier on an item within the item-component to be rendered.

Some before and after:

The modifier:
[code]

The item:
[code]

The list without vertical-collection -- doesn't periodically show 'didInstall' in the console.
[code]
The vertical-

[2019-11-04 23:33] NullVoxPopuli commented on #304
this happens with and without lastVisibleChanged (I thought that maybe there'd be a timer/observer related to that property)

[2019-11-05 08:47] frykten commented on #303
Hello!

Sorry if I've been unclear on our question.
We've already looked at this addon you advise me to use and it's clearly an interesting one. Unfortunately we do not use Babel6 and therefore, for that and other reasons, are not inclined right now to use it even though we might in the future if needed.

What we are looking for is if you know what function(s)/object(s) (might) **need a polyfill**

[2019-11-05 16:46] pzuraq commented on #303
`ember-cli-babel-polyfills` works with Babel 7. Are you using an earlier version of Babel?

Unfortunately, if we can't pinpoint where the bug is coming from, I'm not sure what we can do. This library shouldn't be relying on any features aren't supported in IE11, as you pointed out in #74 we did a lot of work to track down any potential issues in IE11 already and we tested it pretty thoroughly. It

[2019-11-09 16:42] NullVoxPopuli commented on #304
Scratch this -- this isn't related to vertical collection. :)

This is related to auto-tracking.

I have a filtered live array that updates every 30s, and even though the contents are the same, it still triggers re-renders.
so... I'll need to figure out how to deal with that.

[2019-11-12 02:05] #304 closed

[2019-11-15 11:04] azhiv opened #305 "scrollLeft of the row inner element is not retained"
I wrote a simple modifier which scrolls the element horizontally.
scroll.js:
[code]
I use VC as follows:
[code]
inner-component.hbs:
[code]
On initial render the page looks like this:

![Screenshot 2019-11-15 at 13 53 16](https://user-images.githubusercontent.com/32125472/68938438-731a5c00-07af-11ea-8122-f23430f8a59c.png)

which is exactly what it should be. Then I scroll down a little bit:

![Scr

[2019-12-11 21:09] steveszc commented on #278
@JonAtOlo You can pass an `occlusionTagName="li"` arg to the vertical-collection component to fix this
https://github.com/html-next/vertical-collection/blob/master/addon/components/vertical-collection/component.js#L150

[2019-12-30 18:00] octabode commented on #247
I'm using ember-table and am getting the exact same error and symptoms (crashing the whole app). Anybody have any solutions after a year?

[2020-02-13 17:28] flexyford opened #313 "Feature Request: Custom Radars"
### Description
`vertical-collection` has been a valuable addon to improve our application performance. We've recently come across a desire to use `vertical-collection` on a set of items that vary greatly in their height, and we've found that we want something other than `StaticRadar` or `DyanmicRadar` to get the best performance for our particular use case.

We would greatly value the ability to

[2020-02-20 09:41] mgkyawzayya commented on #212
Now . Are u ok? I am facing with this issue.

[2020-02-20 10:10] mgkyawzayya commented on #212
Are u ok in Octtane?

[2020-02-20 10:41] ahamedalthaf commented on #212
@mgkyawzayya Can you try this PR if it works. We need to pass index so that it scrolls exactly to the item.
https://github.com/html-next/vertical-collection/pull/302

[2020-02-20 17:42] mgkyawzayya commented on #212
I don't understand how this PR work.

[2020-02-25 17:33] evanb2 opened #315 "Mobile iOS - scrolling up is broken"
Device: iPhone 11
iOS: 13.3
Browser: Safari and Chrome
(also tested on iPhone 5s running iOS 12.4, same result)

Bug:
When scrolling up, as soon as we reach the end of the loaded content it triggers `loadAbove` many many times. Scrolling the list very quickly, way past the what the user would expect.

Tested using the demo page:
![2020-02-25 at 10 18 AM](https://user-images.githubusercontent.com/1

[2020-02-27 13:28] mohanapreeya opened #316 "Option to scroll to the item at n'th index without manually scrolling"
I want to have a small div containing only the item names and scroll to that item on clicking its name. Is it possible to get the scrollTop of the item which is not even in the dom?

[2020-03-06 14:56] Emerson opened #317 "keyForItem called on null value"
We have a mature application that's going through an Ember upgrade and have run into some issues with `vertical-collection`. We have a list of items wrapped in `vertical-collection` that are filtered by a search input. As a user types into an `<input>`, the items in the list are filtered.

In some cases, when the user types quicky and the filtered number of items is zero, we see an error raised by

[2020-04-21 20:26] burritoIand commented on #315
@evanb2 I believe this is a known issue as in the past I had tried using this for a chat application and we discovered that there were issues with scrolling up on ios etc. At that time @pzuraq had reviewed and concurred it was designed for scroll down behavior. There was a specific scroll-related bug but I can't remember it now... I ended up rolling a custom component instead of VC for that use ca

[2020-04-29 06:40] godserahul1986 opened #319 "ResizeObserver loop limit exceeded"
We are using this package to display notifications for our app. We are setting the notifications container scrollTop to 0 inside of requestAnimationFrame to show any new unseen notifications.

Recently our JS error logging framework started throwing this error `ResizeObserver loop limit exceeded` and our assumption based on some research is its because of this dynamic updating of the notifications

[2020-05-06 17:54] steveszc commented on #319
FWIW we've also seen this error show up in our error logger.

[2020-05-07 16:53] andreyfel commented on #317
@Emerson we have a similar issue which happens in the tests, but it is quite flaky. I couldn't make it fail consistently. Do you have a failing test for this?

[2020-05-14 17:10] steveszc opened #320 "Application test times out when two vertical collections share a containerSelector"
Minimal reproduction repo: https://github.com/steveszc/vertical-collection-shared-container-reproduction

When a route template contains two vertical-collections that share a common containerSelector (ex a scrollable `body`) a test that visits that route will timeout on the `await visit()`. The vertical-collections work as expected when using the app, however.

[2020-05-14 17:27] steveszc commented on #320
Maybe related: https://github.com/html-next/ember-raf-scheduler/issues/5

[2020-05-14 17:30] steveszc commented on #320
Related: https://github.com/html-next/vertical-collection/issues/197

[2020-05-14 20:51] steveszc commented on #320
I spent some time debugging with some teammates. We were able to identify the root cause of this issue, which is a faulty conditional inside the scroll handler util.
TL;DR; If multiple scroll handlers are registered to the same element AND passive scroll listeners are supported, then any time after the first scroll handler is added the addScrollHandler method would begin polling (even though it al

[2020-06-29 03:03] NullVoxPopuli commented on #212
I'm trying out the technique here: https://codepen.io/Craafter/pen/xBLVqZ

which gets around the whole scrolling issue by flipping everything upside down twice.

However, it looks like this breaks vertical-collection's calculations :(

[2020-09-14 21:27] CubeSquared opened #323 "Extra comma in styles"
This led to an issue with an autoprefixer in an engine where it added a prefix to the empty string after the comma, giving an element whose name matched the prefix the table .occluded-content properties. I created a pull request too if that's helpful: https://github.com/html-next/vertical-collection/pull/322

[2020-11-16 12:05] andreyfel commented on #317
Here is my take on this issue:
https://github.com/html-next/vertical-collection/pull/324

[2020-11-16 18:34] Emerson commented on #317
Interesting - I kind of stopped tracking this issue since there seemed to be no interest in fixing it. We're still getting errors in production related to this - although it doesn't seem to prevent out app from functioning.

We never managed to get a failing test - but we can manually trigger the issue by quickly changing the value in a search field that filters a list managed by vertical collecti

[2020-11-17 10:45] andreyfel commented on #317
@Emerson do you think you can try my branch in your app to see if it fixes the issue for you?

[2020-12-17 17:13] knownasilya commented on #296
Was seeing `nextSibling` of undefined in the glimmer vm with this flag as well.

[2021-01-13 10:19] lolmaus commented on #316
Yes, please.

I have invested time and effort into employing this addon to discover on a late stage that scrolling to a given item programmatically is not supported. :sob:

`ember-collection` has this feature, as well as grid support, but it lack `body` scrolling support which is essential for mobile.

[2021-01-15 06:30] lolmaus commented on #204
+1. I have solved it like this:

[code]

[code]

[code]

[2021-02-10 15:29] Emerson commented on #227
Some of our customers are seeing this in Chrome

[2021-02-19 19:48] gilesv commented on #155
Any plans on making `shouldRecycle` a public property? It's still not documented right now.
Thanks!

[2021-03-08 15:53] ybaldus commented on #316
@lolmaus there is a pull request for that feature: https://github.com/html-next/vertical-collection/pull/302

I merged the pull request to the actual 2.0.0 https://github.com/ybaldus/vertical-collection-1
Works like a charm.

[2021-03-08 15:59] lolmaus commented on #316
Dupicate of #162?

[2021-03-08 16:13] ybaldus commented on #316
Yes, I think so.

[2021-07-05 12:14] amk221 opened #332 "Changelog"
Any chance the changelog could be brought up to date? It's hard to grok what has changed between v1 / v2

[2021-07-05 12:30] amk221 commented on #237
Are we required to implement something like the above in the case where the `scrollContainer` is the document body?

For example, on a page *without* `VerticalCollection` - scrolling, navigating to the next page, and pressing back, will restore your previous position without any code (default browser behaviour).

On a page *with* `VerticalCollection` this default behaviour doesn't work.

[2021-08-30 13:55] pabloascarza opened #333 "Fix deprecations for implicit this in templates"
Hi, there are a some of implicit this in the templates

![Screen Shot 2021-08-30 at 10 54 31](https://user-images.githubusercontent.com/9089539/131350419-22081f3c-0bb3-42a9-af8c-9759911d1bc2.png)

[2021-10-04 23:05] MariannaAtPlay commented on #320
Hello!
Are there any plans to fix this issue? We are running into this as well!
Thank you @steveszc for figuring out the root cause.

[2021-10-26 21:15] bobbajs opened #338 "iframe gets loaded twice in vertical-collection with shouldRecycle=false"
When using vertical-collection with item that has iFrame in it, the iframe `onLoad` event is fired twice:

hbs:
[code]

js:
[code]

With only 1 item, console output will display `iframe onload is fired` twice. Is anyone seeing the same issue?

[2021-11-18 10:58] fpauser opened #339 "Not compatible with ember-4.0.0"
Right after adding it to my project (ember-4.0.0) without actual usage of `<VerticalCollection>`:
[code]

[2021-11-28 19:03] oliverlj opened #340 "No rerender on a @tracked array"
The @tracked array used as items do not rerender on update

[2021-12-01 14:04] paulyoder commented on #340
@oliverlj How are you updating the array? If it's a native array, then you can't use the `push()` method. You need to create a new array object so `@tracked` knows it changed.

[code]

[2021-12-01 15:00] oliverlj commented on #340
I'm using a js getter of a @tracked property. Normal table is rerender, vertical collection not

[code]

[code]

[2021-12-06 22:56] mixonic opened #341 "v3 Proposal"
In alignment with https://github.com/Addepar/ember-table/pull/919 (ember-table is one of the main consumers of vertical collection), I propose a v3 major release of vertical collection.

The main breaking change is: Remove support for Ember < 2.18 and ensure compatibility with Ember 4.

Thoughts?

[2021-12-07 22:37] mixonic commented on #341
The PR at https://github.com/html-next/vertical-collection/pull/343 tracks a prerelease branch. CI is set up, and I'll look to extract whatever minimal changes from https://github.com/html-next/vertical-collection/pull/335 that I can get it green.

I've also pinned the minimum Node version at 14.

[2021-12-09 01:50] mixonic commented on #227
IE support ended with the 1.x series FYI (per https://github.com/html-next/vertical-collection/pull/321). Do not expect maintainers to look into IE11 issues.

[2021-12-09 02:18] mixonic commented on #303
IE support ended with the 1.x series FYI (per #321). Do not expect maintainers to look into IE11 issues.

[2021-12-09 02:18] #303 closed

[2021-12-09 09:47] #227 closed

[2021-12-09 22:45] mixonic commented on #341
`3.0.0-0` has been released, and a `release-2` branch for legacy v2 support has been created.

Downstream in Ember Table I've created https://github.com/Addepar/ember-table/pull/921 as a smoke test, though it doesn't run tests against Ember 4 at this point.

Please try the pre-release if applicable, and provide feedback!

[2022-01-08 11:25] oliverlj commented on #340
works good on v3

[2022-01-10 23:14] NullVoxPopuli commented on #339
@mixonic thoughts on this?
would you accept a PR to fix?

[2022-01-11 00:39] mixonic commented on #339
There is a 3.0.0-0 release which is compatible with ember 4. See https://github.com/html-next/vertical-collection/tree/v3.0.0-0

[2022-01-11 15:20] NullVoxPopuli commented on #339
awesome, thanks!!! <3

[2022-01-21 02:27] nwhittaker commented on #184
I ran into this error when my `<VerticalCollection>` element was inside the shadow DOM of a custom Web Component (specifically Stencil).

The height was being computed before the web component was fully hydrated which resulted in these lines resolving `top` and `bottom` to `0`:
https://github.com/html-next/vertical-collection/blob/fcd3e96de8384e81c84c7b965abdc765fe5f23c4/addon/-private/data-view/e

[2022-02-02 17:39] pjcarly commented on #339
Cheers!

[2022-02-09 19:57] matthew-robertson opened #353 "Screenreader fails to navigate occluded elements"
I guess I should preface this with the fact that I only use a screenreader at work when testing accessibility, so I may just be missing a setting in OSX's VoiceOver.

I believe this is the issue originally mentioned in [this prior issue](https://github.com/html-next/vertical-collection/issues/219), but is (I think) unrelated to tables. What appears to be happening is that as I navigate down, the w

[2022-02-24 07:59] runspired commented on #341
@mixonic I think we forgot to actually publish the v3

[2022-02-24 12:14] mixonic commented on #341
@runspired my plan was to wait until ember-table gets a stable release well tested via integration into real apps before cutting a stable here.

[2022-03-10 04:18] nwhittaker opened #354 "Possible memory leak where `did-update` render modifier runs on destroyed rows"
1. Visit https://ember-twiddle.com/910cbd741907663265e1ac93d4c8600e.
2. Scroll to the bottom of the list of inputs and make a change to the input in the last row. This will trigger an update modifier on each row to run.
3. Open the console and see several error messages showing the update modifier ran on some rows that no longer exist in the DOM and are now instead inside a document fragment.

I w

[2022-03-21 07:41] wuarmin opened #355 "Efforts, difficulties and limits to implement this lib in a different frontend-library"
I know that's not really relevant here, but a few thoughts would be very helpful.

I have used this library in Ember.js projects and this library is second to none. Now I have a React.js project where I would need the same functionality. There are also virtualization options in the React world, but not in this way, at the moment. For example, it is not possible to virtualize a `tbody` element.
I w

[2022-04-07 12:03] bakerac4 commented on #341
Can this release be cut now at this point? Or are we still waiting for results from ember-table?

[2022-04-07 12:55] mixonic commented on #341
I've been trying to get the last beta of ember-table successfully landed into a large app at Addepar. We're seeing unexpected width changes in cells. At first it seemed to be from the 3.0.0-0 to 3.0.0-1 changes, however I believe that analysis might have been in error and I'm debugging.

I suspect we're in the clear on the vertical collection from, though my confidence is only 80%. I'll be able to

[2022-05-23 09:14] Atrue opened #357 "Bug: Updating deleted items"
After removing the item from the list the item's node can still exist in the virtual `domPool` element so its component isn't destroyed and can be updated by Ember.

This behavior isn't working for computed fields on the ember models. Ember rejects the error when trying to access the computed property on the destroyed object if it hasn't been consumed before.
[code]
Expected behavior: if the item

[2022-06-02 14:23] fpauser opened #361 "Bug: Update with given id fails (partly)"
Demonstration: #360

![image](https://user-images.githubusercontent.com/7302/171651634-b39c80ab-081c-4ab4-b108-3489c8a65b12.png)

[2022-06-03 00:23] mixonic commented on #341
3.0.0 was released in early May. The issues we had been encountering with unexpected layout changed were related to a CSS bug fixed in 2.0.1 which hadn't been adopted into that codebase.

Closing this. Onward to 4.0!

[2022-06-03 00:23] #341 closed

[2022-06-03 00:30] mixonic opened #362 "v4 Proposal"
Following https://github.com/html-next/vertical-collection/issues/341, I propose a 4.0 branch and release.

Goals:

* Drop support for Ember < 3.12-LTS.
* v2 Ember addon? Is this even possible with the above constraint? I'm not sure. Maybe a nice to have. See https://github.com/html-next/vertical-collection/issues/260
* No change in Node support.
* Release 1.0 of https://github.com/html-next/ember

[2022-06-03 00:43] mixonic commented on #339
Resolved in 3.0.0 :tada:

[2022-06-03 00:43] #339 closed

[2022-06-03 00:45] mixonic commented on #1
1.0 happened!

[2022-06-03 00:45] #1 closed

[2022-06-03 00:51] mixonic commented on #252
I believe the direct parent should be the scrollable container. `staticHeight=true` opts vertical collection into an optimistic mode for layout of contents, and having other content in the scrollable area may conflict with those assumption.

I'm going to close this as an supported use case. I can imagine there is documentation that can be improved for this case though, or even implementation to ad

[2022-06-03 00:51] #252 closed

[2022-06-03 00:54] mixonic commented on #355
vertical-collection is fairly coupled to an Ember-specific implementation today. I'm sure with dedicated effort it could be adapted to be generically portable, or lessons from its implementation could be worked into other existing solutions, but that is generally out of scope for now.

I recognize you're hoping for some generic guidance as well, and I'll need to apologize that I don't have anythin

[2022-06-03 00:58] mixonic commented on #338
I'm going to close this as stale. I guess I find this mildly surprising, but vertical-collection is probably built with the assumption that DOM manipulation is free from side-effects, and `iframe` will definitely break that assumption (as would web components!)

Feel free to re-open if you have discovered there is something critical here, or perhaps this issue highlights an opportunity for better

[2022-06-03 00:58] #338 closed

[2022-06-03 00:58] mixonic commented on #159
I'm going to close this as stale :beers:

[2022-06-03 00:58] #159 closed

[2022-06-03 01:00] mixonic commented on #260
I suggest this be considered as part of a 4.0 effort https://github.com/html-next/vertical-collection/issues/362

[2022-06-04 08:23] v3ss0n commented on #1
Unfortunately we have moved away from Emberjs  , would be nice if this avalbiel to others like Vue and Svelte  .

[2022-08-04 09:24] runspired opened #382 "Tests are flakey and unstable"
tests will fail in unpredictable patterns, and this is somewhat hidden by CI timing out. Obervable in #381 where a readme change leads to failures.

[2022-08-04 13:08] mixonic commented on #382
There are two issues:

* First, there are unpredictable failures in the test suite. These are papered over by a retry script which re-runs the whole suite on CI if there is a failure, and only gives up after several attempts.
* Second, there is something in the test suite or runner which causes the github action to hang. This second item is what the timeout circumvents. Without a timeout, it simpl

[2022-09-01 06:41] clintongreen opened #387 "[Question] What is the best way to estimateHeight for different heights?"
I'm using this for displaying a list of cards. These cards will be a different height based on their status eg Bronze, Silver, Gold.
So I have 3 possible heights to estimate for. Should I choose the highest or lowest value or the in between value? Thanks

[2022-10-31 09:19] patricklx opened #392 "error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
i get this error when I have many updates to the collection and scrolling at the same time.
it does not happen everytime.
related test for it
https://github.com/emberjs/ember-inspector/pull/2219

[2022-11-02 15:18] patricklx commented on #392
the rendering seems to be done during the update phase, because runloop in invoked here: https://github.com/html-next/vertical-collection/blob/master/addon/-private/data-view/radar/radar.js#L546

[2022-11-03 10:09] patricklx commented on #392
found that we are also using ember-table 4 which uses an older version of [vertical-collection](https://github.com/html-next/vertical-collection) and its using that one...

[2022-11-03 10:10] #392 closed

[2022-11-05 02:21] #317 closed

[2022-11-07 15:08] BryanCrotaz opened #393 "Transpiling error in Ember 4 without embroider"
The below only happens when not using embroider.

Line 352 of radar.js
[code]
is being transpiled to
[code]
This causes the error `Ember is not defined`

[package.json](https://github.com/html-next/vertical-collection/files/9952854/package.json.txt)

[2022-11-09 01:02] BryanCrotaz commented on #393
Can reproduce with a new app:
[code]
In application controller:
[code]
In application template:
[code]

[2022-11-10 02:58] BryanCrotaz opened #394 "Docs link in readme uses 1.0.0-beta.7"
The docs site is hugely out of date.

"This repo is currently running vertical-collection 1.0.0-beta.7 against Ember 2.12.1"

[2022-11-10 03:43] BryanCrotaz opened #395 "latest version with embroider doesn't add elements as you scroll"
items is a static array of complex objects generated asynchronously
Not loading vertical-collection until the objects are ready
It shows the first two (or more if buffer size arg is used) but never shows the rest

[code]

[2022-11-10 03:50] BryanCrotaz commented on #395
Turns out you need to add `overflow:auto` on the outer container. It would be nice if the docs mentioned this sort of thing if it's compulsory.

[2022-11-10 15:09] ef4 commented on #393
I found the problem. vertical-collection's customized rollup-based build is not compatible with ember 4, because it uses `compileModules: false` here:

https://github.com/html-next/vertical-collection/blob/f8ba1139b0d5ce2573c66d8b702e99eaadef3c76/index.js#L73

But in ember-cli-babel, that forces you into globals mode, meaning `import { assert } from '@ember/debug'` gets compiled to `Ember.assert()

[2022-11-17 19:55] #393 closed

[2022-11-17 20:07] runspired commented on #395
It's designed to work with whatever CSS you bring, but that does have constraints (if you want div vs body scrolling that needs to be setup, and the layout can't have errors meaning the browser needs to be able to correctly ascertain the positioning and height, which lots of folks don't realize they write broken css but lots of layouts are broken)